.timer {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	letter-spacing: -1px;
}
.countdownBG {
	background: #353535;
}
.countdown-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	font-weight: normal;
	text-align: center;
}
.priceText {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	color: #353535;
	font-weight: bold;
}
.salePrice {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 28px;
	color: #d31111;
	font-weight: bold;
}
#widget-wrap {
	display: inline-block;
	position: relative;
}
#discount-amt {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	width: 60px;
	line-height: 18px;
	height: 60px;
	background: url(dd1-percentBG.png) no-repeat;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 10px 0px 0px 0px;
	z-index: 1000;
}