<!-- //3dcart v2.2//frame.html//Rev. #1 10/31/2006-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>[TITLE]</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
.style1 {font-size: 10px}
-->
</style>
[META]
<script language="JavaScript" src="assets/templates/common/js/utilities.js" type="text/JavaScript"></script>
<LINK REL="StyleSheet" HREF="assets/templates/[template]/css/[stylesheet]" TYPE="text/css" MEDIA="screen">
<LINK REL="StyleSheet" HREF="assets/templates/common/js/tabs.css" TYPE="text/css" MEDIA="screen">
</head>

<body>
<table width="[screenwidth]" border="0" align="center" cellpadding="0" cellspacing="0"  class="data">
  <tr>
    <td background="assets/templates/[template]/images/bg1.gif"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td background="assets/templates/[template]/images/top.gif" style="background-repeat:no-repeat"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="assets/templates/[template]/images/spacer.gif" width="1" height="130"></td>
        <td align="right" style="padding-right:10px"><table width="55%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="right"><!--START: global_header-->
      <p><span class="store-name">[storename]</span><br>
          <span class="store-slogan">[storeslogan]</span></td>
  </tr>
  <tr>
    <td align="right"><table  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td ><!--START: username-->
          <br>
          <span class="font3"> <strong>[account_greeting]</strong> [username]</span><!--END: username--></td>
      </tr>
    </table></td>
  </tr>
</table></td>
      </tr>
    </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="assets/templates/[template]/images/spacer.gif" width="1" height="35"></td>
    <td valign="middle">  <!--START: FRAME_MENU-->
			 <table cellspacing="0" cellpadding="4" border="0">
           
			  <tr>
               
				
			        <!--START: menuitems_view-->
					<!--START: TOP_LINK_FORMAT-->
					<td><span class="icon">&nbsp;&nbsp;&#8226;&nbsp;&nbsp;</span><a href="infopage.asp?page=[link_id]" class="menu" target="[link_target]">[link_name]</a></td>
					<!--END: TOP_LINK_FORMAT--> 
					<!--END: menuitems_view--> 
				
			</tr>
		
          	 </table>
			 <!--END: FRAME_MENU--></td>
    <td width="250" height="35" align="right" background="assets/templates/[template]/images/gradient_img.gif" style="padding-right:10px"> <!--START: FRAME_SEARCH--><form method="get" action="search.asp" STYLE="margin: 0px; padding: 0px;" ID="Form1"><table width="35%" border="0" cellpadding="0" cellspacing="0"  ID="Table2">
                      <tr>
                        <td align="center" valign="middle"><input  type="text" size="25" name="keyword" class="txtBoxStyle" ID="Text1"></td>
                        <td align="center"><img src="assets/templates/[template]/images/spacer.gif" width="10" height="1"></td>
						<td align="center"><input name="image"  type="image" src="assets/templates/[template]/images/search_img.gif"></td>
						
                      </tr>
          </table></form><!--END: FRAME_SEARCH--></td>
  </tr>
</table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center"><img src="assets/templates/[template]/images/spacer.gif" width="1" height="6"></td>
  </tr>
  <tr>
    <td align="center"><table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#eceadb">
  <tr>
    <td align="left"><img src="assets/templates/[template]/images/cart_left.gif" width="12" height="32"></td>
    <td align="right"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align="right" class="cart-text"><strong>[ITEMSINCART]&nbsp;ITEM(S) IN YOUR BAG / TOTAL:[SUBTOTAL]</strong> &nbsp;&nbsp;&nbsp;&nbsp;<a href="view_cart.asp" >view cart</a> |  <a href="myaccount.asp">checkout</a></span></td>
        </tr>
    </table></td>
    <td align="right"><img src="assets/templates/[template]/images/cart_right.gif" width="12" height="32"></td>
  </tr>
</table></td>
  </tr>
</table></td>
  </tr>
  <tr>
    <td align="center"><img src="assets/templates/[template]/images/spacer.gif" width="1" height="6"></td>
  </tr>
  <tr>
    <td align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="3" background="assets/templates/[template]/images/bg_h1_blurr.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left"><img src="assets/templates/[template]/images/blurr_top_left.gif"></td>
            <td align="right"><img src="assets/templates/[template]/images/blurr_top_right.gif"></td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td width="4" background="assets/templates/[template]/images/bg_v1_blurr.gif"><img src="assets/templates/[template]/images/spacer.gif" width="4" height="1"></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
		  
<!--start left column-->
            <td valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="5">&nbsp;</td>
    </tr>
  <tr>
    <td width="11"><img src="assets/templates/[template]/images/spacer.gif" width="10" height="1"></td>
    <td valign="top" width="180">
			 <table border="1" cellpadding="3" cellspacing="0" bordercolor="d7dfe1" style="border-collapse: collapse">
				 <!--START: FRAME_CATEGORY--> <tr>
					<td align="center" class="menu-headers">[frame_categories]</td>
	              </tr>
	           
					<!--START: CATEGORIES-->
						
					<!--START: CATEGORY_FORMAT-->
						<tr>
						<TD align="center" bgcolor="#e7e8ea"><table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td nowrap><a href="view_category.asp?cat=CATID" class="cat upp"><strong>CATEGORY</strong></a></td>
  </tr>
</table></TD>
						</tr>
					<!--END: CATEGORY_FORMAT-->
					
					<!--START: SUB_CATEGORY_FORMAT-->
	        			<tr><td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <TD align="center"><table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><a href="view_category.asp?cat=CATID" class="cat">CATEGORY</a></td>
  </tr>
</table></TD>
  </tr>
</table>
</td>
	        			</tr>
	             	<!--END: SUB_CATEGORY_FORMAT-->
		 
					<!--END: CATEGORIES--> 
	 <!--END: FRAME_CATEGORY-->
	 <!--START: FRAME_BYPRICE-->	 
			<tr>
	                <td align="center" class="menu-headers">[frame_byprice]</td>
                </tr>
			  
				<!--START: byprice_format-->
				<tr><td align="center">&nbsp;&nbsp;<a href="search_groups.asp?keyword=%5Bid%5D&byprice=%5Bid%5D" class="cat">[title]</a></td>
				</tr>
				<!--END: byprice_format--> 
		
			 <!--END: FRAME_BYPRICE-->		
			  <!--START: FRAME_MANUFACTURER-->	
		<form name="mfg" id="mfg" method="get" action="search_groups.asp" STYLE="margin: 0px; padding: 0px;">	 
	
			
			<tr>
	                <td align="center" class="menu-headers">[frame_manufacturer]</td>
	              </tr>
		  
	
<tr><td align="left">


			<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td align="center"><select name="manf" onChange="this.form.submit();" ID="Select1"  class="txtBoxStyle" style="width:150px;">
				<option value=0 selected class="txtBoxStyle">Manufacturer</option>
			<!--START: manufacturer_format-->
				<option value=[mfgid] class="txtBoxStyle">[manufacturer]</option>
			<!--END: manufacturer_format-->
			</select></td>
  </tr>
</table>


			</td></tr></form>
		
		
			 <!--END: FRAME_MANUFACTURER-->
			    <!--START: NEW_RELEASES_BLOCK-->
		 
		
	       <tr>
	         <td align="center" class="menu-headers">[frame_new-releases]</td>
	       </tr>
		   
			<!--START: newreleases--> 
			<tr><td align="center"><a href="product.asp?itemid=[catalogid]"><img src="[thumbnail]" border="0" alt="[name]"></a><br>
                <a href="product.asp?itemid=[catalogid]">[id] [name]</a></td>
			</tr>
			
			<!--END: newreleases-->	
								
		
        <!--END: NEW_RELEASES_BLOCK-->		
			 
		               	
			   </table>
			   <br>
		 </td>
    
<!--end left column-->

<!--start middle column-->
    <td valign="top" class="data"><table width="100%" border="0" cellspacing="0" cellpadding="0" >
               <tr>
                 <td align="center">MIDDLE</td>
               </tr>
             </table></td>
<!--end middle column-->
			 
    <td width="11"><img src="assets/templates/[template]/images/spacer.gif" width="5" height="1"></td>
  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>
    </tr>
</table></td>
          </tr>
        </table></td>
        <td width="4" background="assets/templates/[template]/images/bg_v2_blurr.gif"><img src="assets/templates/[template]/images/spacer.gif" width="4" height="1"></td>
      </tr>
      <tr>
        <td colspan="3" background="assets/templates/[template]/images/bg_h2_blurr.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left"><img src="assets/templates/[template]/images/blurr_bottom_left.gif" width="16" height="4"></td>
            <td align="right"><img src="assets/templates/[template]/images/blurr_bottom_right.gif" width="16" height="4"></td>
          </tr>
        </table></td>
        </tr>
    </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center"><img src="assets/templates/[template]/images/spacer.gif" width="1" height="6"></td>
  </tr>
  <tr>
    <td align="center"><table width="756" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="assets/templates/[template]/images/spacer.gif" width="11" height="60"></td>
    <td><table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" class="menu-text"><strong>[store_name]</strong><br>
                      [store_address1] [store_address2][store_state]<br>
                [store_phone] </span></td>
      </tr>
    </table></td>
  </tr>
</table></td>
		<td align="right"><!--START: FRAME_MAILLIST--><table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="assets/templates/[template]/images/cart_left.gif"></td>
    <td bgcolor="#eceadb"><form STYLE="margin: 0px; padding: 0px;" method="post" name="mailing" action="mailing_list.asp?action=add" onSubmit="return mailing_list();" ID="Form2"><table cellspacing="0" cellpadding="5" border="0" ID="table9">
                      <tr>
                       
						<td nowrap class="menu-text">[mailinglist_text]</td>
						<td ><table width="100%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
						    <td align="right"><input type="radio" name="subscribe" value="1" checked id="radio3"></td>
						    <td align="left" nowrap  class="menu-text">[mailinglist_subscribe]</td>
					      </tr>
					    </table></td>
						<td ><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="right"><input type="radio" name="subscribe" value="0" id="radio5"></td>
    <td  align="left" nowrap class="menu-text">[mailinglist_unsubscribe]</td>
  </tr>
</table>
</td>
						<td align="right"><input type="text" size="16" name="email" class="txtBoxStyle" id="Text2"></td>
						<td align="right"><input type="submit" name="www" value="[mailinglist_button]" class="btn" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'" ID="Submit2">
</td>
                      </tr>
    </table></form></td>
    <td><img src="assets/templates/[template]/images/cart_right.gif"></td>
  </tr>
</table><!--END: FRAME_MAILLIST--></td>
      </tr>	  
    </table></td>
  </tr>
  <!--START: FRAME_LINKS--><tr>
    <td align="center" bgcolor="#5f768b"><table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="assets/templates/[template]/images/spacer.gif" width="1" height="35"></td>
    <td><table cellspacing="0" cellpadding="5" border="0" ID="Table12">
                      <tr>
                        <!--START: LINKS-->
                        <!--START: LINK_FORMAT-->
                        <td class="font3"><a href="infopage.asp?page=[link_id]&extra=1" target="[link_target]" class="link2">[link_name]</a></td><td class="font3"><img src="assets/templates/[template]/images/divider1.gif"></td>
                        <!--END: LINK_FORMAT-->
                        <!--END: LINKS-->
                      </tr>
                    </table></td>
  </tr>
</table></td>
  </tr><!--END: FRAME_LINKS-->
  <tr>
    <td align="center" valign="top" bgcolor="#e7e8ea"><table width="706" border="0" align="center" cellpadding="0" cellspacing="0" background="assets/templates/[template]/images/bottom.gif">
      <tr>
        <td width="1" align="left"><img src="assets/templates/[template]/images/spacer.gif" width="1" height="73"></td>
        <td valign="top" ><table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center"><span class="style1"><br>
      [GLOBAL_FOOTER]


        <!--START: 3dcart stats-->
        <script type="text/javascript" language="JavaScript">

var file='/stats/count.asp';

var stats_d=new Date(); 
var stats_s=stats_d.getSeconds(); 
var stats_m=stats_d.getMinutes();
var stats_x=stats_s*stats_m;
var prdID = '[catalogid]';
var catID = '[catid]';

stats_f='' + escape(document.referrer); stats_f=stats_f.replace('_','----');
if (navigator.appName=='Netscape'){stats_b='NS';} 
if (navigator.appName=='Microsoft Internet Explorer'){stats_b='MSIE';} 
if (navigator.appVersion.indexOf('MSIE 3')>0) {stats_b='MSIE';}
stats_u='' + escape(document.URL); stats_u=stats_u.replace('_','----'); stats_w=screen.width; 

stats_h=screen.height; 
stats_v=navigator.appName; 
stats_fs = window.screen.fontSmoothingEnabled;
if (stats_v != 'Netscape') {stats_c=screen.colorDepth;}
else {stats_c=screen.pixelDepth;}
stats_j=navigator.javaEnabled();
info='w=' + stats_w + '&h=' + stats_h + '&c=' + stats_c + '&r=' + stats_f + '&u='+ stats_u + '&fs=' + stats_fs + 

'&b=' + stats_b + '&x=' + stats_x + '&cat=' + catID + '&prd=' + prdID;
document.write('<img src="' + file + '?'+info+ '" width=1 height=1 border=0>');
        </script>
        </a><br>
  [frame_copyright1]</span>
<noscript>
<p><img src="/stats/count.asp" width=90 height=30 border=0></p>
</noscript>
<p>
  <!--END: 3dcart stats-->
</td>
  </tr>
</table></td>
      </tr>
    </table></td>
  </tr>

</table>

</body>
</html>





