<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Gallery</title>
<link rel="stylesheet" href="assets/templates/[template]/css/[stylesheet]" type="text/css" media="screen">
<style type="text/css">
<!--

body {
	margin-left: 0px;
	margin-top: 0px;
	background: #ffffff;
}
-->
</style>
</head>
<body onLoad="self.focus();">
<table width="100%" border="0" bgcolor="#ffffff">
	<tr>
		<td class="options-titles"> [product_name] | Image Gallery </td>
		<td align="right"><input type="submit" name="Submit" value="Close Window" onClick="self.close();" class="btn">
		</td>
	</tr>
	<tr>
		<td colspan="2"><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="https://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="550" height="440" align="middle">
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="movie" value="assets/templates/common/gallery/gallery.swf?xmlPath=/[XMLPATH]" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#ffffff" />
				<embed src="assets/templates/common/gallery/gallery.swf?xmlPath=/[XMLPATH]" quality="high" bgcolor="#ffffff" width="600" height="440" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="https://www.macromedia.com/go/getflashplayer" />
			</object>
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
</table>
</body>
</html>

