
<table width="98%" cellspacing="0" cellpadding="2" border="0">
	<!--START: CATEGORY_HEADER-->
	<tr><td class="data">[CONTENT]</td></tr>
	<!--END: CATEGORY_HEADER-->
	<!--START: FEATURE_MENU-->
	<tr>
		<td class="titles" height="30"><b>[category_Header-specials]</b></td>
	</tr>
	<tr>
		<td align="center"><table border="0" cellspacing="0" cellpadding="5" width="100%" align="center">
				<!--START: CATEGORY_ITEMS-->
				<!--START: ITEM_TEMPLATE_0-->
				<table border="0" cellspacing="0" cellpadding="0" width="75%">
					<tr>
						<td colspan="2" align="center" valign="middle" height="100"><a href="product.asp?itemid=[catalogid]"><img src="[THUMBNAIL]" alt="[name]" border="0"></a></td>
					</tr>
					<tr>
						<td colspan="2" class="item" align="center" height="30"><a href="product.asp?itemid=[catalogid]" class="home">[name]</a></td>
					</tr>
					<tr>
						<td class="price" align="center" valign="middle" colspan="2"><!--START: ITEMPRICE-->
							<span class="price">[ITEMPRICE]</span>
							<!--END: ITEMPRICE-->
							<!--START: SALEPRICE-->
							<table>
								<tr>
									<td class="price-info"><s>[ITEMPRICE]</s></td>
								</tr>
								<tr>
									<td valign="top"><span class="price">[ITEMSALEPRICE]</span></td>
									<td><img src="assets/templates/common/images/on_sale.png" /></td>
								</tr>
							</table>
							<!--END: SALEPRICE-->
						</td>
					</tr>
					<tr>
						<td height="20" class="item" align="center" valign="middle"><a href="add_cart.asp?quick=1&amp;item_id=[catalogid]" class="home"><u>[category_buyitlink]</u></a></td>
					</tr>
				</table>
				<!--END: ITEM_TEMPLATE_0-->
				<!--END: CATEGORY_ITEMS-->
			</table></td>
	</tr>
	<!--END: FEATURE_MENU-->
	<!--START: CATEGORY_FOOTER-->
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr><td class="data">[CONTENT]</td></tr>
	<!--END: CATEGORY_FOOTER-->
</table>
