<div style="height: 6px; background: url(images/bg-bottom.png) repeat-x;"></div>
<div style="background: url(themes/jqt/img/bg-header-footer.png); height: 65px; position: relative;" class="clear">
  <div class="right" style="position: relative;top: -1px;"><a href="/?view_full_site=1" target="_webapp"><img src="images/view-full-site.png" border="0" /></a></div>
  <div class="footer clear" style="position: absolute; top: 20px; left: 27px;"> Copyright &copy; [currYear] [storeName].<br />
    All rights reserved. Shopping Cart powered by 3dcart.</div>
</div>