<!-- //3dcart v2.2//frame.html//Rev. #1 10/31/2006-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>[TITLE]</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
[META]
<script language="JavaScript" src="assets/templates/common/js/utilities.js" type="text/JavaScript"></script>
<LINK REL="StyleSheet" HREF="assets/templates/[template]/css/[stylesheet]" TYPE="text/css" MEDIA="screen">
<LINK REL="StyleSheet" HREF="assets/templates/common/js/tabs.css" TYPE="text/css" MEDIA="screen">


<body>
<table width="[screenwidth]" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
	    <td><img src="assets/templates/[template]/images/spacer.gif" width="1" height="80"></td>
        <td valign="bottom"><!--START: global_header-->
      <p><span class="store-name">[storename]</span><br>
          <span class="store-slogan">[storeslogan]</span>
    <!--END: global_header--></td>
        <td align="right" valign="top"><table cellspacing="0" cellpadding="5" border="0" >
                <tr>
                  <td class="font3"><a href="/"> Home </a><img src="assets/templates/[template]/images/divider1.gif" border="0"> <a href="About-Us_ep_7.html">About Us</a> <img src="assets/templates/[template]/images/divider1.gif" border="0"> <a href="Contact-Us_ep_5.html">Contact Us</a> <img src="assets/templates/[template]/images/divider1.gif" border="0"> <a href="myaccount.asp">My Account</a></a>  <img src="assets/templates/[template]/images/divider1.gif" border="0"> <a href="view_cart.asp">My Cart</a></a></td>
                </tr>
              </table>
    </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="right"><table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="assets/templates/[template]/images/cart_left.gif"></td>
        <td align="center" background="assets/templates/[template]/images/bg_cart.gif" class="cart-text">[ITEMSINCART]&nbsp;ITEM(S)
              IN YOUR BAG / TOTAL:<strong>[SUBTOTAL]</span></strong></td>
        <td><img src="assets/templates/[template]/images/cart_right.gif"></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td background="assets/templates/[template]/images/bg_bar1.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="assets/templates/[template]/images/link_left.gif"></td>
		<!--START: FRAME_MENU--><td>
		                <table cellspacing="0" cellpadding="5" border="0" >
                <tr>
                 
                  <!--START: menuitems_view-->
					<!--START: TOP_LINK_FORMAT-->
                  <td><img src="assets/templates/[template]/images/arrow.gif"></td> <td class="font3"><a href="infopage.asp?page=[link_id]"
class="link2" target="[link_target]">[link_name]</a></td>
                <!--END: TOP_LINK_FORMAT--> 
					<!--END: menuitems_view--> 
                </tr>
              </table>
   </td> <!--END: FRAME_MENU-->
        <td align="right" valign="middle"><table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><!--START: FRAME_SEARCH-->
                  <form method="get" action="search.asp" STYLE="margin: 0px; padding: 0px,0px,0px,0px;" ID="Form1">
                    <table border="0" align="center" cellpadding="4" cellspacing="0"  ID="Table2">
                      <tr>
                        <td><input  type="text" size="13" name="keyword" class="txtBoxStyle" ID="Text1">
                        </td>
                        <td><input  type="submit" name="search" value="SEARCH" class="btn" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'" ID="Submit1">
                        </td>
                      </tr>
                    </table>
                  </form>
                  <!--END: FRAME_SEARCH--></td>
          </tr>
        </table></td>
        <td align="right" width=14><img src="assets/templates/[template]/images/search_right.gif"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><img src="assets/templates/[template]/images/spacer.gif" width="1" height="10"></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
<!--start left column-->
        <td width="194" valign="top" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><!--START: FRAME_CATEGORY-->
			 <table width="194" border="0" cellpadding="0" cellspacing="0" ID="Table5" background="assets/templates/[template]/images/bg_frame.gif">
	              <tr>
	                <td background="assets/templates/[template]/images/cat_yellow.gif" class="menu-headers"><img src="assets/templates/[template]/images/spacer.gif" width="10" height="8">[frame_categories]</td>
	              </tr>
	           
					<!--START: CATEGORIES-->
						
					<!--START: CATEGORY_FORMAT-->
						<tr>
						  <td nowrap >&nbsp; <a href="view_category.asp?cat=CATID" class="cat" style="text-transform:uppercase"><strong>CATEGORY</strong></a></td>
						</tr>
					<!--END: CATEGORY_FORMAT-->
					
					<!--START: SUB_CATEGORY_FORMAT-->
	        		<tr>
	        			  <td > &nbsp;&nbsp;&nbsp;&nbsp;<span class="item">&bull;</span>&nbsp;<a href="view_category.asp?cat=CATID" class="cat">CATEGORY</a></td>
        			</tr>
	             	<!--END: SUB_CATEGORY_FORMAT-->
		 
					<!--END: CATEGORIES-->
					<tr>
					 <td><img src="assets/templates/[template]/images/frame_divider.gif"></td>
					</tr> 
           </table>
	 <!--END: FRAME_CATEGORY-->
	 
	 
	 <!--START: FRAME_BYPRICE-->
			 <table width="194" border="0" cellpadding="0" cellspacing="0" background="assets/templates/[template]/images/bg_frame.gif">
	              <tr>
	                <td background="assets/templates/[template]/images/cat_green.gif" class="menu-headers"><img src="assets/templates/[template]/images/spacer.gif" width="10" height="1">[frame_byprice]</td>
	              </tr>	
					<!--START: byprice_format-->
						<tr>
						  <td style="padding:3px"><img src="assets/templates/[template]/images/spacer.gif" width="10" height="1"><a href="search_groups.asp?keyword=[id]&byprice=[id]" class="cat">[title]</a></td>
						</tr>
						
					 
					<!--END: byprice_format--> <tr><td><img src="assets/templates/[template]/images/frame_divider.gif"></td>
					</tr>
             </table>
	 <!--END: FRAME_BYPRICE-->
	 
	 	 <!--START: NEW_RELEASES_BLOCK-->
			 <table width="194" border="0" cellpadding="0" cellspacing="0" background="assets/templates/[template]/images/bg_frame.gif">
	              <tr>
	                <td background="assets/templates/[template]/images/cat_orange.gif" class="menu-headers"><img src="assets/templates/[template]/images/spacer.gif" width="10" height="1">[frame_new-releases]</td>
	              </tr>	
					<!--START: newreleases-->
						<tr>
						  <td align="center" style="padding:3px"><a href="product.asp?itemid=[catalogid]"><img src="[thumbnail]" border="0" alt="[name]"></a><br>
                            <a href="product.asp?itemid=[catalogid]">[id] [name]</a></td>
						</tr>
						
					 
					<!--END: newreleases--> <tr><td><img src="assets/templates/[template]/images/frame_divider.gif"></td>
					</tr>
             </table>
	 <!--END:  NEW_RELEASES_BLOCK-->
	 
	 <!--START: FRAME_MANUFACTURER-->
	         
			 <table width="194" border="0" cellpadding="0" cellspacing="0" background="assets/templates/[template]/images/bg_frame.gif">
	              <tr>
	                <td background="assets/templates/[template]/images/cat_blue.gif" class="menu-headers"><img src="assets/templates/[template]/images/spacer.gif" width="10" height="8">[frame_manufacturer]</td>
	              </tr>	
					<!--START: byprice_format-->
						<tr>
						  <td height="20" align="center"  style="padding:3px"><img src="assets/templates/[template]/images/spacer.gif" width="10" height="8">
						    <form name="mfg" id="mfg" method="get" action="search_groups.asp"  STYLE="margin: 0px; padding: 0px;">	 <select name="manf" onChange="this.form.submit();" ID="Select1"  class="txtBoxStyle" style="width:150px;">
				<option value=0 selected class="txtBoxStyle">Manufacturer</option>
			<!--START: manufacturer_format-->
				<option value=[mfgid] class="txtBoxStyle">[manufacturer]</option>
			<!--END: manufacturer_format-->
			</select></form></td>
						</tr>
						<tr>
					 <td><img src="assets/templates/[template]/images/frame_divider.gif"></td>
					</tr>
					
             </table></form>
	 <!--END: FRAME_MANUFACTURER-->
			<!--START: FRAME_MAILLIST-->
		         <form STYLE="margin: 0px; padding: 0px;" method="post" name="mailing" action="mailing_list.asp?action=add" onSubmit="return mailing_list();" ID="Form2"> 
			     <table width="100%" cellspacing="0" cellpadding="0" border="0" background="assets/templates/[template]/images/bg_frame.gif">
                   <tr>
                     <td background="assets/templates/[template]/images/cat_pink.gif" class="menu-headers"><img src="assets/templates/[template]/images/spacer.gif" width="10" height="1">[frame_mailinglist]</td>
                   </tr>
                   <tr>
                     <td class="menu-text"><br>
                         <img src="assets/templates/[template]/images/spacer.gif" width="10" height="1">[mailinglist_text]</td>
                   </tr>
                   <tr>
                     <td>
                       <table border="0" cellspacing="0" cellpadding="2">
                         <td><img src="assets/templates/[template]/images/spacer.gif" width="8" height="1"><input type="text" size="20" name="email" class="txtBoxStyle" id="Text2"></td>
                         <td><input type="submit" name="www" value="[mailinglist_button]" class="btn" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'" id="Submit2"></td>
                       </table>
                     </td>
                     </tr>
                   <tr>
                     <td  class="menu-text"> &nbsp;
                         <input type="radio" name="subscribe" value="1" checked id="Radio1">
                         [mailinglist_subscribe]</td>
                   </tr>
                   <tr>
                     <td  class="menu-text"> &nbsp;
                         <input type="radio" name="subscribe" value="0" id="Radio2">
                         [mailinglist_unsubscribe]</td>
                   </tr><tr>
            <td><img src="assets/templates/[template]/images/frame_divider.gif"></td>
          </tr>
                 </table>	
		         </form> <!--END: FRAME_MAILLIST-->
                </td>	 
          </tr>
          
        </table>

		</td>
<!--end left column-->

<!--start middle column-->
      <td width="100%" align="center" valign="top" bgcolor="#FFFFFF" class="data" style="padding-top:8px">MIDDLE</td>
                 
<!--end middle column-->
				  
<!--start right column-->
        <td width="194" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><!--START: TOP_SELLERS_BLOCK-->
		 <table width="194" cellpadding="0" cellspacing="0" border="0" ID="Table10" background="assets/templates/[template]/images/bg_frame.gif">
	       <tr>
		     <td colspan="2" background="assets/templates/[template]/images/cat_orange.gif" class="menu-headers">Best Sellers</td>
	       </tr>
		   
			<!--START: topsellers--> 
			<tr><td><table border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td><a href="product.asp?itemid=[catalogid]" class="cat"><img src="assets/templates/[template]/images/indent.gif" border="0"></a></td>
    <td class="menu-text"><a href="product.asp?itemid=[catalogid]" class="cat">[name]</a>	</td>
  </tr>
</table></td>
			</tr> <tr>
            <td><img src="assets/templates/[template]/images/frame_divider.gif"></td>
          </tr>
			<!--END: topsellers-->								
		</table>
        <!--END: TOP_SELLERS_BLOCK-->

	</td>
          </tr>
         
        </table>	<!--START: RIGHT_BANNER--><br>
		  <span class="data"><center>[RIGHT_BANNER]</center></span>
	<!--END: RIGHT_BANNER-->	</td>
<!--end right column-->
		
      </tr>
    </table></td>
  </tr>
  
  <tr>
    <td align="center"><!--START: FRAME_LINKS-->
                    <table cellspacing="0" cellpadding="5" border="0" ID="Table12">
                      <tr>
                        <!--START: LINKS-->
                        <!--START: LINK_FORMAT-->
                        <td class="font3"><a href="infopage.asp?page=[link_id]&extra=1" target="[link_target]" class="link2">[link_name]</a></td><td class="font3">|</td>
                        <!--END: LINK_FORMAT-->
                        <!--END: LINKS-->
                      </tr>
                    </table>
                    <!--END: FRAME_LINKS--></td>
  </tr>
  <tr>
    <td align="center" class="font1"> <!--START: globalfooter0-->
 [GLOBAL_FOOTER]      <br>
  [frame_copyright1]    <br></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<!--START: 3dcart stats-->

<p>
  <script type="text/javascript" language="JavaScript">

var file='/stats/count.asp';

var stats_d=new Date(); 
var stats_s=stats_d.getSeconds(); 
var stats_m=stats_d.getMinutes();
var stats_x=stats_s*stats_m;
var prdID = '[catalogid]';
var catID = '[catid]';

stats_f='' + escape(document.referrer); stats_f=stats_f.replace('_','----');
if (navigator.appName=='Netscape'){stats_b='NS';} 
if (navigator.appName=='Microsoft Internet Explorer'){stats_b='MSIE';} 
if (navigator.appVersion.indexOf('MSIE 3')>0) {stats_b='MSIE';}
stats_u='' + escape(document.URL); stats_u=stats_u.replace('_','----'); stats_w=screen.width; 

stats_h=screen.height; 
stats_v=navigator.appName; 
stats_fs = window.screen.fontSmoothingEnabled;
if (stats_v != 'Netscape') {stats_c=screen.colorDepth;}
else {stats_c=screen.pixelDepth;}
stats_j=navigator.javaEnabled();
info='w=' + stats_w + '&h=' + stats_h + '&c=' + stats_c + '&r=' + stats_f + '&u='+ stats_u + '&fs=' + stats_fs + 

'&b=' + stats_b + '&x=' + stats_x + '&cat=' + catID + '&prd=' + prdID;
document.write('<img src="' + file + '?'+info+ '" width=1 height=1 border=0>');
</script>
  </a>
</p>
<noscript>
<p><img src="/stats/count.asp" width=90 height=30 border=0>
</p>
</noscript>
<p>
  <!--END: 3dcart stats-->

</body>
</html>
