
  <table width="95%" cellspacing="0" cellpadding="2" border="0">
  <!--START: BODY_HEADER-->              

    <tr> 
		<td class="data">
			
			[PAGE_FULLLINE]<br><br>
			
		</td>
    </tr>
    <tr><td class="page_headers">[htmlpage]</td></tr>

 <!--END: BODY_HEADER-->
	<tr><td>
 <!--START: SUB_PAGES-->              
  <table width="95%" cellspacing="0" cellpadding="2" border="0">
    <!--START: SUB_PAGES_FORMAT-->
		<tr>
		    <td class="data"> 
		    - <a href="../Copy of HG_custom/infopage.asp?page=[id]&amp;extra=[extra]">[sub_pages_title]</a>
	             </td>
		</tr>
  
    <!--END: SUB_PAGES_FORMAT-->
      <tr><td>&nbsp;</td></tr>
  </table>
  
 <!--END: SUB_PAGES-->       
 
    </td></tr>       

	    <tr> 
		<td class="data">[content]</td>
	    </tr>
  </table> 

