<body leftmargin="0" topmargin="0" rightmargin="0" bottommargin="0" class="data">
<script>
	function closeWindow()
	{
		try
		{
			window.parent.hs.close();
		}
		catch(err)
		{
			window.close();
		}		
	}
</script>
<table width="100%" border="0" align="center" cellpadding="5" cellspacing="0" class="data">
	<tr>
		<td><table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td class="page_headers" colspan="2">[reviews_add]</td>
				</tr>
				<tr>
					<td valign="top" class="item"><strong>[name]</strong></td>
				</tr>
				<tr>
					<td colspan="2" class="borders"><img src="../Copy of HG_custom/assets/templates/common/images/spacer.gif" border="0" alt="" height="1"></td>
				</tr>
			</table>
			<br>
			<!--START: newReviewForm-->
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<form name="creview" method="post" action="../Copy of HG_custom/review.asp?action=create&catalogid=[catalogid]">
					<tr>
						<td colspan="4"><table width="100%" cellpadding="3" cellspacing="2">
								<tr>
									<td width="70" class="price-info">Name: </td>
									<td class="price-info" width="150"><!--START: nameTxt-->
										<input type="text" value="[custName]" name="user_name" maxlength="50" class="txtBoxStyle" size="20">
										&nbsp;<img src="../Copy of HG_custom/assets/templates/common/images/error2.gif" width="12" height="12">
										<!--END: nameTxt-->
										<!--START: nameHdn-->
										[custName]&nbsp;
										<!--END: nameHdn-->
									</td>
									<td class="price-info" width="30">Email: </td>
									<td class="price-info"><!--START: emailTxt-->
										<input type="text" value="[custEmail]" name="user_email" maxlength="50" class="txtBoxStyle" size="20">
										&nbsp;<img src="../Copy of HG_custom/assets/templates/common/images/error2.gif" width="12" height="12">
										<!--END: emailTxt-->
										<!--START: emailHdn-->
										[custEmail]&nbsp;
										<!--END: emailHdn-->
									</td>
								</tr>
								<tr>
									<td class="price-info">Location: </td>
									<td class="price-info" colspan="3"><input type="text" name="user_city" maxlength="50" class="txtBoxStyle" size="60">
										&nbsp;<img src="../Copy of HG_custom/assets/templates/common/images/error2.gif" width="12" height="12"></td>
								</tr>
								<tr>
									<td class="price-info">Title:</td>
									<td class="price-info" colspan="3" align="center"><p align="left">
											<input type="text" size="60" name="short_review" maxlength="100" id="Text4" class="txtBoxStyle">
											&nbsp;<img src="../Copy of HG_custom/assets/templates/common/images/error2.gif" width="12" height="12"></P></td>
								<tr>
								<tr>
									<td class="price-info">Review:</td>
									<td colspan="3"><textarea cols=38 rows="10" name=long_review></textarea>
										&nbsp;<img src="../Copy of HG_custom/assets/templates/common/images/error2.gif" width="12" height="12"></td>
								</tr>
								<tr>
									<td class="price-info">Rating:</td>
									<td class="price-info" colspan="3" align="left"><input type="radio" name="rating" value="1">
										<img src="../Copy of HG_custom/assets/templates/common/images/star1.gif">
										<input type="radio" name="rating" value="2" id="Radio1">
										<img src="../Copy of HG_custom/assets/templates/common/images/star2.gif">&nbsp;
										<input type="radio" name="rating" value="3" id="Radio2">
										<img src="../Copy of HG_custom/assets/templates/common/images/star3.gif">&nbsp;
										<input type="radio" name="rating" value="4">
										<img src="../Copy of HG_custom/assets/templates/common/images/star4.gif">&nbsp;
										<input type="radio" name="rating" value="5" id="Radio4" checked>
										<img src="../Copy of HG_custom/assets/templates/common/images/star5.gif" >&nbsp; </td>
								</tr>
								<!--START: captcha-->
								<tr>
									<td class="price-info">Verification:</td>
									<td class="price-info"><img src="../Copy of HG_custom/admin/image_pw.asp" border="0" width="148"> <br>
										Type the word above...<br>
										<input type="text" name="ramdomWord" id="ramdomWord" autocomplete="off" value="" size="25" maxlength="30" class="txtBoxStyle">
										&nbsp;<img src="../Copy of HG_custom/assets/templates/common/images/error2.gif" width="12" height="12"> </td>
								</tr>
								<!--END: captcha-->
							</table>
							<br>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="borders"><img src="../Copy of HG_custom/assets/templates/common/images/spacer.gif" border="0" alt="" height="1"></td>
					</tr>
					<tr>
						<td height="50"><span class="error"><img src="../Copy of HG_custom/assets/templates/common/images/error2.gif"> = Required</span></td>
						<td align="right"><input type="submit" value="Add Review" class="btn" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'" ></td>
					</tr>
				</form>
			</table>
			<script language="javascript" type="text/javascript">
	//You should create the validator only after the definition of the HTML form
	var frmvalidator = new Validator("creview");

	bolCheckSubmitted_validation = false;//Global variable defined in utilities.js
	frmvalidator.setAddnlValidationFunction("submitForm");
	
	<!--START: validateNameEmail-->
	frmvalidator.addValidation("user_name","req","Please enter your First and Last Name.");
	frmvalidator.addValidation("user_name","maxlen=40","Max length for Name is 40.");
	frmvalidator.addValidation("user_email","maxlen=50","Max length for Email is 50.");
	frmvalidator.addValidation("user_email","email");
	frmvalidator.addValidation("user_email","req","Please enter your E-mail.");
	<!--END: validateNameEmail-->
	
	frmvalidator.addValidation("user_city","req","Please enter your City.");
	frmvalidator.addValidation("user_city","maxlen=50","Max length for City is 50.");
	frmvalidator.addValidation("long_review","maxlen=500","Max length for Review is 500.");
	frmvalidator.addValidation("long_review","req","Please enter your review.");
	frmvalidator.addValidation("short_review","maxlen=100");
	frmvalidator.addValidation("short_review","req","Please enter your review.");
	<!--START: captchascript-->
	frmvalidator.addValidation("ramdomWord","maxlen=20");
	frmvalidator.addValidation("ramdomWord","req","Please enter the verification word.");	
	<!--END: captchascript-->
</script>
			<!--END: newReviewForm-->
			<!--START: newReviewThankyou-->
			<table width="100%" cellpadding="2" cellspacing="0" border="0">
				<tr>
					<td align="left"><table width="100%" cellspacing="5" cellpadding="0" border="0" id="Table5">
							<tr align="center">
								<td colspan="4" class="item" align="left">[reviewCreatedMsg]</td>
							</tr>
						</table></td>
				</tr>
				<tr>
					<td align="right"><input type="button" value='Click here to continue' class="btn" onClick="closeWindow();" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'"></td>
				</tr>
			</table>
			<!--END: newReviewThankyou-->
			<!--START: errorMsg-->
			<table width="100%" border="0" cellspacing="3" cellpadding="0" id="Table3">
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td align="left"><table width="100%" cellspacing="5" cellpadding="0" border="0" >
							<tr align="center">
								<td colspan="4" class="item" align="left">[errorMsg]</td>
							</tr>
						</table></td>
				</tr>
				<tr>
					<td colspan="2" class="borders"><img src="../Copy of HG_custom/assets/templates/common/images/spacer.gif" border="0" alt="" height="1"></td>
				</tr>
				<tr>
					<td align="right"><input type="button" value='Click here to continue' class="btn" onClick="history.back(1);" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'"></td>
				</tr>
			</table>
			<!--END: errorMsg-->
		</td>
	</tr>
</table>
</body>
</html>
