<!-- //3dcart v2.2//frame.html//Rev. #1 10/31/2006-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>[TITLE]</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
[META]
<script language="JavaScript" src="assets/templates/common/js/utilities.js" type="text/JavaScript"></script>
<LINK REL="StyleSheet" HREF="assets/templates/[template]/css/[stylesheet]" TYPE="text/css" MEDIA="screen">
</head>
<body>
<center>
<table width="[screenwidth]" cellpadding="0" cellspacing="0" class="data">

<tr><td width="50%" rowspan="2"><!--START: global_header--><span class="store-name">[storename]</span><br><span class="store-slogan">[storeslogan]</span><!--END: global_header--></td>
<td height="38" align="right" class="font3"><a href="index.html">Home</a>  |  <a href="myaccount.asp">My Account</a>  |  <a href="Contact-Us_ep_5.html">Customer Service</a>  |&nbsp;&nbsp;<a href="view_cart.asp"><img src="assets/templates/[template]/images/cart.gif" alt="Shopping Cart" border="0" /></a>&nbsp;Shopping Cart -&nbsp;<span class="font4">[ITEMSINCART]&nbsp;item(s)</span></td>
</tr>
<tr>
	<td align="right"> <!--START: FRAME_SEARCH-->
	 	<form method="get" action="search.asp" STYLE="margin: 0px; padding: 0px;" ID="Form1">
			<table cellspacing="0" cellpadding="4" border="0" ID="Table2">
			
				<tr>
				<td class="font3">Search</td>	<td><input  type="text" size="13" name="keyword" class="txtBoxStyle" ID="Text1"></td><td><input  type="submit" name="search" value="GO" class="btn" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'" ID="Submit1"></td>
				</tr>
				
			</table>
			</form>
			<!--END: FRAME_SEARCH--></td></tr>
<tr><td colspan="2" class="line" align="left" height="30" valign="middle"> <!--START: FRAME_MENU-->
			 <table cellspacing="0" cellpadding="5" border="0" ID="Table3">
            <tr><td>&nbsp;&nbsp;</td>
			        <!--START: menuitems_view-->
					<!--START: TOP_LINK_FORMAT-->
					<td><a href="infopage.asp?page=[link_id]" class="menu" target="[link_target]">&nbsp;[link_name]&nbsp;</a></td>
					<!--END: TOP_LINK_FORMAT--> 
					<!--END: menuitems_view--> 
				
          	</tr> </table>
			 <!--END: FRAME_MENU--></td></tr>
			 <tr><td colspan="2" align="right" class="font3" height="20"><!--START: username--> [account_greeting] [username]<!--END: username--></td></tr>
			 <tr><td colspan="2">
			 <table width="100%" cellpadding="0" cellspacing="3">
			 <tr>
			 <!--START: LEFT BAR-->
			 <td valign="top" width="160"><!--START: FRAME_CATEGORY-->
			 <table width="100%" cellspacing="2" cellpadding="0" border="0" ID="Table5">
	              <tr>
	                <td class="menu-headers">[frame_categories]</td>
	              </tr>
	           <tr>
	                <td class="menu-headers"><img src="assets/templates/[template]/images/dots.gif" alt="" /></td>
	              </tr>
					<!--START: CATEGORIES-->
						
					<!--START: CATEGORY_FORMAT-->
						<tr><td><a href="view_category.asp?cat=CATID" class="cat">&nbsp;&nbsp;CATEGORY</a></td></tr>
					<!--END: CATEGORY_FORMAT-->
					
					<!--START: SUB_CATEGORY_FORMAT-->
	        			<tr><td class="font3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="view_category.asp?cat=CATID" class="cat">CATEGORY</a></td></tr>
	             	<!--END: SUB_CATEGORY_FORMAT-->
		 
					<!--END: CATEGORIES--> 
			
			
           </table><br>
	 <!--END: FRAME_CATEGORY-->
	 
	 <!--START: FRAME_BYPRICE-->	 
		<TABLE width="100%" cellspacing="2" cellpadding="0" border="0" ID="Table6">
			<tr>
	                <td class="menu-headers">[frame_byprice]</td>
	              </tr>
			    <tr>
	                <td class="menu-headers"><img src="assets/templates/[template]/images/dots.gif" alt="" /></td>
	              </tr>
				<!--START: byprice_format-->
				<tr><td><a href="search_groups.asp?keyword=[id]&byprice=[id]" class="cat">&nbsp;&nbsp;[title]</a></td></tr>
				<!--END: byprice_format--> 
	

		</TABLE><br>
			 <!--END: FRAME_BYPRICE-->		
			  <!--START: FRAME_MANUFACTURER-->	
		<form name="mfg" id="mfg" method="get" action="search_groups.asp" STYLE="margin: 0px; padding: 0px;">	 
	<TABLE width="100%" cellspacing="2" cellpadding="0" border="0" ID="Table7">
			
			<tr>
	                <td class="menu-headers">[frame_manufacturer]</td>
	              </tr>
		   <tr>
	                <td class="menu-headers"><img src="assets/templates/[template]/images/dots.gif" alt="" /></td>
	              </tr>
	
<tr><td align="left">


			<select name="manf" onChange="this.form.submit();" ID="Select1"  class="txtBoxStyle" style="width:150px;">
				<option value=0 selected class="txtBoxStyle">Manufacturer</option>
			<!--START: manufacturer_format-->
				<option value=[mfgid] class="txtBoxStyle">[manufacturer]</option>
			<!--END: manufacturer_format-->
			</select>

			</td></tr>
			
			
		</TABLE>
			</form><br>
			 <!--END: FRAME_MANUFACTURER-->
			    <!--START: NEW_RELEASES_BLOCK-->
		 <table width="100%" cellpadding="0" cellspacing="2" border="0" ID="Table8">
	       <tr><td class="menu-headers">New Releases</td></tr>
		     <tr>
	                <td class="menu-headers"><img src="assets/templates/[template]/images/dots.gif" alt="" /></td>
	              </tr>
			<!--START: newreleases--> 
			<tr><td><a href="product.asp?itemid=[catalogid]"><img src="[thumbnail]" border="0" alt="[name]"></a></td></tr>
			<tr><td class="item"><a href="product.asp?itemid=[catalogid]">[id] [name]</a></td></tr>
			<!--END: newreleases-->	
									
		</table>
        <!--END: NEW_RELEASES_BLOCK-->		
			 <!--START: FRAME_MAILLIST-->
		         <form method="post" name="mailing" action="mailing_list.asp?action=add" onSubmit="return mailing_list();" ID="Form2"> 
			    <table width="100%" cellspacing="2" cellpadding="0" border="0" ID="Table9">
        	   
				
    	          	
					<tr>
                  		<td class="menu-headers" colspan="2">[frame_mailinglist]</td>
    	        	</tr>
					  <tr>
	                <td class="menu-headers"><img src="assets/templates/[template]/images/dots.gif" alt="" /></td>
	              </tr>
	
    	         	 <tr>
					 <td class="menu-text" colspan="2">[mailinglist_text]</td>
				    </tr>  
					
					<tr>
					<td width="60"><input type="text" size="16" name="email" class="txtBoxStyle" ID="Text2"></td><td align="left" width="76"><input type="submit" name="www" value="[mailinglist_button]" class="btn" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'" ID="Submit2"></td>
				    </tr>  
		
					<tr>
					<td  class="menu-text" colspan="2"><input type="radio" name="subscribe" value="1" checked ID="Radio1">[mailinglist_subscribe]</td>
					</tr>
	
					<tr>
					<td  class="menu-text" colspan="2"><input type="radio" name="subscribe" value="0" ID="Radio2">[mailinglist_unsubscribe]</td>
				    </tr>        	
        
				</table>
				   		</form><br>
	<!--END: FRAME_MAILLIST--> 
		<!--START: LEFT_BANNER-->
		<center>[LEFT_BANNER]</center>

	<!--END: LEFT_BANNER-->	

	 </td>
	 <td width="1" class="borders"><img src="assets/templates/[template]/images/spacer.gif" width="1" alt="" /> </td>
 <!--END: LEFT BAR-->
			 	 <!--start middle column-->
			 <td valign="top" align="center" class="data" width="100%">MIDDLE</td>
			 <!--end middle column-->
             	<!--START: RIGHT BAR-->
              <td width="1" class="borders"><img src="assets/templates/[template]/images/spacer.gif" width="1" alt="" /> </td>
		
			 <td valign="top" width="160">
			    <!--START: TOP_SELLERS_BLOCK-->
		 <table width="160" cellpadding="0" cellspacing="4" border="0" ID="Table10">
	       <tr><td class="menu-headers" colspan="2">Best Sellers</td></tr>
		    <tr>
	                <td class="menu-headers" colspan="2"><img src="assets/templates/[template]/images/dots.gif" alt="" /></td>
	              </tr>
			<!--START: topsellers--> 
			<tr><td width="30"><a href="product.asp?itemid=[catalogid]" class="cat"><img src="thumbnail.asp?file=[thumbnail]&maxx=30&maxy=0" align="middle" border="0" id="large" name="large"></a></td><td align="left" class="menu-text"><a href="product.asp?itemid=[catalogid]" class="cat">[name]</a></td></tr>
			<!--END: topsellers-->								
		</table>
        <!--END: TOP_SELLERS_BLOCK-->
	
	<!--START: RIGHT_BANNER--><br>
		 <center>[RIGHT_BANNER]</center>
	<!--END: RIGHT_BANNER-->
			 
			 </td>
			<!--END: RIGHT BAR-->
			 </tr>
			 </table>
			 </td></tr>
			 <tr><td colspan="2" width="1" class="borders"><img src="assets/templates/[template]/images/spacer.gif" width="1" alt="" /></td></tr>
			  <tr><td colspan="2" width="3"><img src="assets/templates/[template]/images/spacer.gif" width="3" alt="" /></td></tr>
			  <tr><td colspan="2" width="3" class="borders"><img src="assets/templates/[template]/images/spacer.gif" width="3" alt="" /></td></tr>
			<tr><td colspan="2" align="center" height="69">
			<table width="97%" cellpadding="0" cellspacing="0" ID="Table11">
			  <tr><td colspan="2"><!--START: FRAME_LINKS-->
		    <table cellspacing="0" cellpadding="4" border="0" ID="Table12">
											<tr>
													<!--START: LINKS-->
														
													<!--START: LINK_FORMAT-->
													<td class="font3"><a href="infopage.asp?page=[link_id]&extra=1" target="[link_target]">[link_name]</a>&nbsp;&nbsp;|&nbsp;</td>
													<!--END: LINK_FORMAT--> 
														
													<!--END: LINKS--> 
											</tr>
										</table>
	<!--END: FRAME_LINKS-->			</td>
								</tr>
								<tr><td colspan="2" class="footer">[GLOBAL_FOOTER]</td></tr>
         
						</table>
					</td>
				</tr>
			   <tr><td colspan="2" width="1" class="borders"><img src="assets/templates/[template]/images/spacer.gif" width="1" alt="" /></td></tr>
			  <tr><td colspan="2" width="3"><img src="assets/templates/[template]/images/spacer.gif" width="3" alt="" /></td></tr>
			  <tr><td colspan="2" width="3" class="borders"><img src="assets/templates/[template]/images/spacer.gif" width="3" alt="" /></td></tr>
                 <tr><td class="footer" align="center" colspan="2">[frame_copyright1]</td></tr>
		</table>
			</center>

<!--START: 3dcart stats-->

<script type="text/javascript" language="JavaScript">

var file='/stats/count.asp';

var stats_d=new Date(); 
var stats_s=stats_d.getSeconds(); 
var stats_m=stats_d.getMinutes();
var stats_x=stats_s*stats_m;
var prdID = '[catalogid]';
var catID = '[catid]';

stats_f='' + escape(document.referrer); stats_f=stats_f.replace('_','----');
if (navigator.appName=='Netscape'){stats_b='NS';} 
if (navigator.appName=='Microsoft Internet Explorer'){stats_b='MSIE';} 
if (navigator.appVersion.indexOf('MSIE 3')>0) {stats_b='MSIE';}
stats_u='' + escape(document.URL); stats_u=stats_u.replace('_','----'); stats_w=screen.width; stats_h=screen.height; 
stats_v=navigator.appName; 
stats_fs = window.screen.fontSmoothingEnabled;
if (stats_v != 'Netscape') {stats_c=screen.colorDepth;}
else {stats_c=screen.pixelDepth;}
stats_j=navigator.javaEnabled();
info='w=' + stats_w + '&h=' + stats_h + '&c=' + stats_c + '&r=' + stats_f + '&u='+ stats_u + '&fs=' + stats_fs + '&b=' + stats_b + '&x=' + stats_x + '&cat=' + catID + '&prd=' + prdID;
document.write('<img src="' + file + '?'+info+ '" width=1 height=1 border=0>');
</script>
</a>
<noscript>
<img src="/stats/count.asp" width=90 height=30 border=0>
</noscript>
<!--END: 3dcart stats-->

</body>
</html>
