<center>
	<table width="98%">
		<tr>
			<td align="center">
				<!--START: CATEGORY_HEADER-->
				<table width="98%" cellspacing="0" cellpadding="2" border="0" id="header">
					<tr>
						<td>[CONTENT]</td>
					</tr>
				</table>
				<!--END: CATEGORY_HEADER-->

				<table width="98%" cellspacing="0" cellpadding="2" border="0">
					<tr>
						<td align="center">[checkout4_checkout-by-amazon-thankyou-message]</td>
					</tr>
				</table>

				<!--START: CATEGORY_FOOTER-->
				<table width="98%" cellspacing="0" cellpadding="2" border="0" id="footer">
					<tr>
						<td>[CONTENT]</td>
					</tr>
				</table>
				<!--END: CATEGORY_FOOTER-->
			</td>
		</tr>
	</table>
</center>
