	<script>
		var addReplyClick = 0;
		
	    function submitForm(strAction)
	    {
	        document.frmForm.action.value = strAction;
	        document.frmForm.submit();
	    }
	    function addNew()
	    {
			var strMsg = "";
			if (document.frmForm.customer.value.trim() == "")
				strMsg += " - [crm_name] cannot be blank.\n";
			if (document.frmForm.custemail.value.trim() == "" || !isValidEmail(document.frmForm.custemail.value))
				strMsg += " - [crm_email] cannot be blank and must be a valid email address.\n";
			if (document.frmForm.subject.value.trim() == "")
				strMsg += " - [crm_subject] cannot be blank.\n";
			if (document.frmForm.reply.value.trim() == "")
				strMsg += " - [crm_message] cannot be blank.\n";
			<!--START: captchascript-->
			if (document.frmForm.ramdomWord.value.trim() == "")
				strMsg += " - Verification word cannot be blank.\n";			
			<!--END: captchascript-->

            if (ExistsCreditCard(jQuery('#reply').val()))
			    strMsg += "[ccNumerNotAllowedMessage]";
			    	
			if (strMsg != ""){
				alert(strMsg);
				return false;
			}
			if (addReplyClick == 0){
				addReplyClick = 1;
				submitForm('addnew');
			}

	    }
		String.prototype.trim = function() {
			return this.replace(/^\s+|\s+$/g,"");
		}
		function isValidEmail(str) {

			var at="@"
			var dot="."
			var lat=str.indexOf(at)
			var lstr=str.length
			var ldot=str.indexOf(dot)
			
			if (str.indexOf(at)==-1)
			   return false

			if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr)
			   return false

			if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr)
			    return false
		
			 if (str.indexOf(at,(lat+1))!=-1)
			    return false

			 if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot)
			    return false

			 if (str.indexOf(dot,(lat+2))==-1)
			    return false
			
			 if (str.indexOf(" ")!=-1)
			    return false

	 		 return true					
		}    
	</script>
    <table width="95%" cellpadding="0" cellspacing="0">	<tr>
		<td class="page_headers" align="left">[crm_header_title] </td><!--START: myAccount--><td align="right"><a href="myaccount.asp"><img src="assets/templates/common/images/arrow_back.png" border="0" align="absmiddle"></a> <a href="myaccount.asp">back to my account</a></td><!--END: myAccount-->
	</tr>
    <tr><td colspan="2">&nbsp;</td></tr>
       <!--START: CATEGORY_HEADER-->
	<tr>
		<td class="data" colspan="2">&nbsp;[CONTENT]</td>
	</tr>
    <tr><td>&nbsp;</td></tr>
	<!--END: CATEGORY_HEADER-->
    
    <tr>
   <td colspan="2">
 <form method="post" action="crm.asp" id="frmForm" name="frmForm">
 <input type="hidden" name="action" id="action" value="">
 


<table width="85%" border="0" class="alternative" cellpadding="4" cellspacing="0">

  <input type="hidden" name="custid" value="[custid]" />
<input type="hidden" name="orderid" value="[orderid]" />
<input type="hidden" name="productid" value="[productid]" />


  <tr>
    <td style="width: 80px" class="item">[crm_department]:</td>
    <td><select name="departmentid" id="departmentid" class="txtBoxStyle">
           [deptdropdown]
               </select>
</td>
  </tr>
 

  <tr>
    <td style="width: 80px" class="item">[crm_name]:</td>
    <td><input type="text" name="customer" value="[name]" size="50"  maxlength="50" class="txtBoxStyle"> <img src="assets/templates/common/images/error2.gif" width="12" height="12">
      </td>
  </tr>
 
  <tr>
    <td style="width: 80px" class="item">[crm_phone]:</td>
    <td><input type="text" name="phone" value="[phone]" size="50"  maxlength="50" class="txtBoxStyle"></td>
  </tr>


  <tr>
    <td style="width: 80px" class="item">[crm_email]:</td>
    <td><input type="text" name="custemail" value="[email]" size="50"  maxlength="50" class="txtBoxStyle"> <img src="assets/templates/common/images/error2.gif" width="12" height="12"></td>
  </tr>
  
  <tr>
    <td colspan="2"><br></td>
  </tr>
  
  <tr>
    <td style="width: 80px" class="item">[crm_subject]:</td>
    <td><input name="subject" type="text" id="subject" value=""  size="50"  maxlength="150" class="txtBoxStyle"> <img src="assets/templates/common/images/error2.gif" width="12" height="12"></td>
  </tr>
  
  <tr>
    <td style="width: 80px" class="item">[crm_message]:</td>
    <td><textarea name="reply" id="reply" style="width: 300px; height: 58px" class="txtBoxStyle"></textarea> <img src="assets/templates/common/images/error2.gif" width="12" height="12"></td>
  </tr>
  
  <tr>
    <td colspan="2"><br></td>
  </tr>
  <!--START: captcha-->
  <tr>
    <td style="width: 80px" class="item">Verification:</td>
    <td class="item">
		<img src="admin/image_pw.asp" border="0" width="148">
		<br>Type the word above...<br>
		<input type="text" name="ramdomWord" id="ramdomWord" autocomplete="off" value="" size="25" maxlength="30"  class="txtBoxStyle"> <img src="assets/templates/common/images/error2.gif" width="12" height="12">
    </td>
  </tr>
  <!--END: captcha-->

<!--START: recaptcha-->
<tr>
	<td style="width: 80px" class="item">Verification:</td>
	<td class="item">
        <script type="text/javascript">var RecaptchaOptions = { theme: '[recaptcha_theme]' };</script>
        <script type="text/javascript" src="//www.google.com/recaptcha/api/challenge?k=[recaptcha_key]"></script>
        <noscript>
        <iframe src="//www.google.com/recaptcha/api/noscript?k=[recaptcha_key]" height="300" width="500" frameborder="0"></iframe><br>
        <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
        <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
        </noscript>
	</td>
</tr>
<!--END: recaptcha-->
  <tr>
    <td colspan="2" align="right"><br><input type="button" onClick="javascript:addNew();" value="[crm_button-add-ticket]" class="btn" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'"></td>
  </tr>
  
  </table>

</form>
</td></tr>

<tr><td colspan="2">   <!--START: CATEGORY_FOOTER-->
	<tr>
		<td class="data" colspan="2">&nbsp;[CONTENT]</td>
	</tr>
 
	<!--END: CATEGORY_FOOTER--></td></tr>
</table>


