
<table width="98%" cellspacing="0" cellpadding="2" border="0">
	<!--START: BODY_HEADER-->
	<tr>
		<td class="data"> [PAGE_FULLLINE] </td>
	</tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
	<tr>
		<td class="data" align="right"><!--START: PREVFEED-->
			<A href="[prevlink]">&lt; [prevtitle]</a> &nbsp;|&nbsp;
			<!--END: PREVFEED-->
			<!--START: NEXTFEED-->
			<A href="[nextlink]"> [nexttitle] &gt;</a>
			<!--END: NEXTFEED-->
		</td>
	</tr>
	<tr>
		<td class="page_headers">&nbsp;</td>
	</tr>
	<tr>
		<td class="page_headers" >[feed_title]</td>
	</tr>
	<tr>
		<td class="item" align="right">&nbsp;[feed_created]
			&nbsp;by&nbsp;
			<!--START: feed_author-->
			[feed_author]
			<!--END: feed_author--></td>
	</tr>
	<!--END: BODY_HEADER-->
	<tr>
		<td class="data">[feed_description]</td>
	</tr>
	<!--START: feed_additionalfield1-->
	<tr>
		<td class="data">[feed_additionalfield1]</td>
	</tr>
	<!--END: feed_additionalfield1-->
	<!--START: feed_additionalfield2-->
	<tr>
		<td class="data">[feed_additionalfield2]</td>
	</tr>
	<!--END: feed_additionalfield2-->
	<!--START: feed_additionalfield3-->
	<tr>
		<td class="data">[feed_additionalfield3]</td>
	</tr>
	<!--END: feed_additionalfield3-->
	<!--START: feed_additionalfield4-->
	<tr>
		<td class="data">[feed_additionalfield4]</td>
	</tr>
	<!--END: feed_additionalfield4-->
	<!--START: feed_additionalfield5-->
	<tr>
		<td class="data">[feed_additionalfield5]</td>
	</tr>
	<!--END: feed_additionalfield5-->
	<tr>
		<td class="data" align="right"><!--START: PREVFEED-->
			<A href="[prevlink]">&lt; [prevtitle]</a> &nbsp;|&nbsp;
			<!--END: PREVFEED-->
			<!--START: NEXTFEED-->
			<A href="[nextlink]"> [nexttitle] &gt;</a>
			<!--END: NEXTFEED-->
		</td>
	</tr>
</table>

