

<table width="95%" cellpadding="0" cellspacing="0" align="center" border="0">
	<form action="giftregistry_home.asp" name="frmForm" id="frmForm" method="post" autocomplete="off">
	<input type="hidden" name="action" id="action" value="">
	<input type="hidden" name="intCustId" id="intCustId" value="">
				
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr><td class="page_headers" align="left">[giftregistry_home]</td> <td align="right"><a href="giftregistry_home.asp"><img src="assets/templates/common/images/arrow_back.png" border="0" align="absmiddle"></a> <a href="giftregistry_home.asp">Gift Registry Home</a></td></tr>
	<tr><td colspan="2">&nbsp;</td></tr>

			<!--START: CATEGORY_HEADER-->              
			
			   <tr> 
					<td class="data">[CONTENT]</td>
			   </tr>
          
			
			<!--END: CATEGORY_HEADER-->

	<!--START: giftRegistrySearchResultDetail-->   
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<td colspan="2">
			<table width="100%" cellpadding="4" cellspacing="0" border="0">
				<tr>
					<td class="item"><b>[giftregistry_header-name]:</b>&nbsp;[regName]</td>
					
				</tr>
					<td class="item"><b>[giftregistry_header-eventdate]:</b>&nbsp;[regEvent]</td>
				
				</tr>					
					<td class="item"> <b>[giftregistry_create-firstname]:</b>&nbsp; [regFirstName]</td>
				
				</tr>					
					<td class="item" ><b>[giftregistry_create-lastname]:</b>&nbsp;[regLastName]</td>
				
				</tr>
				<tr>					
					<td class="item"><b>[giftregistry_create-message]</b>&nbsp; [regMessage]</td>
				
				</tr>	
                <tr><td>&nbsp;</td></tr>			
				<tr>
					<td colspan="2">
					<table cellpadding="5" cellspacing="4" class="alternative"><tr><td class="item">[giftregistry_create-password]:</td>
                   <td><input type="password" id="txtRegPassword" name="txtRegPassword" maxlength="10" size="10" value="" autocomplete="off"></td>
                 <td><input type="button" name="cmdViewList" onClick="javascript:viewRegistry('[custid]');" class="btn" value="[giftregistry_home-select-registry]" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'"></td></tr>
                    </table>
		
					</td>
				</tr>
			</table>		
		
		</td>
	</tr>
	<!--END: giftRegistrySearchResultDetail-->   						
	

			<!--START: CATEGORY_FOOTER-->
			<tr><td>&nbsp;</td></tr>
				  <tr> 
				  	<td  class="data">[CONTENT]</td>
				  </tr>
		
			<!--END: CATEGORY_FOOTER--> 
		</td>
	</tr>	
	</form>
</table>

<script>
function submitForm(strAction)
{
	window.document.body.style.cursor = 'wait';
	if(window.document.activeElement){window.document.activeElement.style.cursor='wait'; }
	
	document.frmForm.action.value = strAction;
	document.frmForm.submit();
}
function viewRegistry(intCustId)
{
	var strMsg = "";
	
	if (document.frmForm.txtRegPassword.value.trim() == "")
		strMsg += " - [giftregistry_create-password] cannot be blank.\n"

	if (strMsg != ""){
		alert(strMsg);
		return false;
	}
	
	document.frmForm.intCustId.value = intCustId;
	submitForm('password');
}
String.prototype.trim = function() {
	return this.replace(/^\s+|\s+$/g,"");
}
</script>

