<table align="center" border="1" width="300">
	<tr>
		<td align="center" colspan="2"> GIFT CERTIFICATE </td>
	</tr>
	<tr>
		<td width="160">Amount of the Certificate:</td>
		<td> [certificate_amount]</td>
	</tr>
	<tr>
		<td>Current Balance:</td>
		<td> [certificate_balance]</td>
	</tr>
	<tr>
		<td>Message:</td>
		<td>[certificate_message]</td>
	</tr>
	<tr>
		<td align="center" colspan="2"><input type="button" value="REDEEM" onclick="window.location='redeem.asp?action=apply&gc=[gc]';"></td>
	</tr>
</table>
<center>
	<a href="#" onclick="window.print();">Print this Page</a>
</center>
