<table width="95%" cellpadding="5" cellspacing="0" align="center" border="0">
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td class="page_headers" align="left">[giftregistry_prelogin]</td>
		<td align="right"><a href="giftregistry_prelogin.asp?action=back"><img src="assets/templates/common/images/arrow_back.png" border="0" align="absmiddle"></a> <a href="giftregistry_prelogin.asp?action=back">back</a></td>
	</tr>
	<!--START: CATEGORY_HEADER-->
	<tr>
		<td class="data" colspan="2">[CONTENT]</td>
	</tr>
	<!--END: CATEGORY_HEADER-->
	<!--START: continue-->
	<tr>
		<td colspan="2"><input type="button" value="Continue" onClick="javascript:location.href='giftregistry_prelogin.asp?action=continue';" class="btn" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'">
		</td>
	</tr>
	<!--END: continue-->
	<!--START: CATEGORY_FOOTER-->
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td class="data" colspan="2">[CONTENT]</td>
	</tr>
	<!--END: CATEGORY_FOOTER-->

</table>


