<table width="98%" cellspacing="0" cellpadding="2" border="0">
  <!--START: BODY_HEADER-->
  <tr>
    <td class="item"><a href="">[frame_breadcrumb-home]</a> > <a href="myaccount.asp">[account_header-myaccount]</a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <!--END: BODY_HEADER-->
  <tr>
    <td class="page_headers" align="left" colspan="5">[account_header-myaccount]</td>
  </tr>
  <tr>
    <td align="center" class="item" colspan="5"><!--START: error_message--> 
      [error_message] 
      <!--END: error_message--></td>
  </tr>
  <tr>
    <td valign="top" align="center"><form action="login.asp?ordertracking=[otrack]" method="post">
        <input type="hidden" name="catalogid" value="[catalogid]">
        <table width="400" cellpadding="0" cellspacing="0">
          <tr>
            <td class="checkout-headers" colspan="2">[login_Header-login]</td>
          </tr>
          <tr>
            <td><table width="100%" cellpadding="2" cellspacing="0" class="alternative" id="Table3">
                <tr>
                  <td class="item" colspan="2">[login_Header-loginmessage]</td>
                </tr>
                <tr>
                  <td class="item" align="right" width="100"><strong>[CustomerInfo_email]:</strong></td>
                  <td><input type="text" size="30" name="email" value="[email]" class="txtBoxStyle"></td>
                </tr>
                <tr>
                  <td align="right" class="item" ><strong>[CustomerInfo_password]:</strong></td>
                  <td><input type="password" size="12" autocomplete="off" name="password" class="txtBoxStyle" id="Password1"></td>
                </tr>
                <!--START: captcha-->
                <tr>
                  <td class="item" align="right"><strong>[registration_verification]:</strong></td>
                  <td class="item"><img src="admin/image_pw.asp?cache=[now]" border="0" width="148"> <br />
                    [registration_verification_message]<br />
                    <input type="text" name="randomWord" id="randomWord" autocomplete="off" value="" size="25" maxlength="30" class="txtBoxStyle"></td>
                </tr>
                <!--END: captcha-->
				<!--START: recaptcha-->
                <tr>
                  <td class="item" align="right"><strong>[registration_verification]:</strong></td>
					<td class="item">
                        <script type="text/javascript">var RecaptchaOptions = { theme: '[recaptcha_theme]' };</script>
                        <script type="text/javascript" src="//www.google.com/recaptcha/api/challenge?k=[recaptcha_key]"></script>
                        <noscript>
                        <iframe src="//www.google.com/recaptcha/api/noscript?k=[recaptcha_key]" height="300" width="500" frameborder="0"></iframe><br>
                        <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
                        <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
                        </noscript>
					</td>
				</tr>
				<!--END: recaptcha-->
                <tr>
                  <td>&nbsp;</td>
                  <td align="left"><input type="submit" value="[login_button]" class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" id="Submit1" name="Submit1"></td>
                </tr>
              </table></td>
          </tr>
        </table>
      </form>
      <br />
      <table width="400" cellpadding="0" cellspacing="0">
        <form action="login.asp?action=forgotpass&ordertracking=[otrack]" method="post">
          <tr>
            <td class="checkout-headers" colspan="3">[login_Header-forgotpassword]</td>
          </tr>
          <tr>
            <td align="center"><table width="100%" cellpadding="2" cellspacing="0" class="alternative" border="0" id="Table5">
                <tr>
                  <td align="right" class="item" width="100"><strong>[CustomerInfo_email]:</strong></td>
                  <td><input type="text" size="30" name="email" value="[email]" class="txtBoxStyle"></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td class="item"><input type="submit" value="[login_resetpasswordbutton]" class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" id="Submit2" name="Submit2">
                    <br />
                    [login_resetpasswordtext]</td>
                </tr>
              </table></td>
          </tr>
        </form>
      </table>
      <form action="login.asp?action=forgotpass&ordertracking=[otrack]" method="post">
        <table width="400" cellpadding="0" cellspacing="0">
          <tr>
            <td class="checkout-headers" colspan="3"> [registration_Header-createnewaccount]</td>
          </tr>
          <tr>
            <td><table width="100%" cellpadding="2" cellspacing="0" class="alternative">
                <tr>
                  <td align="left" class="item" colspan="3"> [registration_create-account]</td>
                </tr>
                <tr>
                  <td class="item" colspan="3"><div style="float: left;">
                      <input type="button" value="[registration_button-createaccount]" class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" onclick="window.location='register.asp?cg=0';">
                    </div>
                    <!--START: fbconnect-->
                    <div style="float: left; margin: 2px 8px; padding: 0px;"><a onclick="popup('social_login.asp?p=fl&return=myaccount',1000,550)" href="#" title="Sign in with Facebook"><img src="assets/templates/common/images/facebook_signin.png" alt="Sign In with Facebook" width="150" height="22" border="0" /></a></div>
                    <!--END: fbconnect--></td>
                </tr>
              </table></td>
          </tr>
        </table>
      </form></td>
  </tr>
</table>
