<div class="page_headers">Shop By Brand</div>
<!--START: manufacturer-->
<div id="mfg_[id]" style="float: left; width: 33%; text-align: left; margin-left: 2px;" class="mfg-name">
  <li style="list-style: none;"><a href="search_groups.asp?manf=[id]" class="subcat">[manufacturer]</a></li>
</div>
<!--END: manufacturer-->
<div id="container" style="height: 100%; width: 700px; padding: 5px;">
  <ul class="mfg_nav">
    <!--START: manufacturerindex-->[category structure goes here]<!--END: manufacturerindex-->
  </ul>
</div>
