 <!--START: CATEGORY_HEADER-->              
  <table width="95%" cellspacing="0" cellpadding="2" border="0">
    <tr> 
		<td class="font2">&nbsp;[CONTENT]</td>
    </tr>
  </table>
 <!--END: CATEGORY_HEADER-->
<table border="0" width="500" cellspacing="0" cellpadding="4">
				  <tr>
				 	<td width="500" align="left" colspan="2">New Releases</td>
				  </tr> 
				  <tr><td><table width="500">
						<!--START: newreleases--> 
									
									<tr><td width="34" rowspan="2"><img src=[thumbnail]></td><td width="196" class="item"><a href='product.asp?itemid=[catalogid]' class='menu1'>[ranking]. [name]</a></td>
									<td width="145" align="right" class="item"><strong><font size="2">Your Price: [ITEMPRICE]</font></strong></td></tr>
									<tr><td class="item">
								    <span class="font2"></span></td><td align="right" valign="bottom">  <a href='add_cart.asp?quick=1&item_id=[catalogid]' class='menu1'>Add to Order</a></td></tr>
	<tr><td colspan="3"><HR></td></tr>
	<!--END: newreleases-->								
				</table></td></tr>
					
				</table>

  
		 <!--START: CATEGORY_FOOTER-->              
		  <table width="95%" cellspacing="0" cellpadding="2" border="0">
		    <tr> 
				<td  class="font2">[CONTENT]</td>
		    </tr>
		  </table>
		 <!--END: CATEGORY_FOOTER--> 