

<table width="95%" cellspacing="0" cellpadding="2" border="0">
<tr><td class="page_headers" align="left">[rewards_details-detail] </td><!--START: myAccount--><td valign="middle" align="right"><a href="myaccount.asp"><img src="assets/templates/common/images/arrow_back.png" border="0" align="absmiddle"></a>&nbsp;<a href="myaccount.asp">back to my account</a></td><!--END: myAccount-->
	</tr>


<!--START: CATEGORY_HEADER-->              

	<tr> 
		<td class="data" colspan="2">[CONTENT]</td>
	</tr>
    <tr><td colspan="2">&nbsp;</td></tr>

<!--END: CATEGORY_HEADER-->




	
	<!--START: ordercompleted-->
	<tr> 
		<td class="titles2" colspan="2">[rewards_redeem-redeemOrderCompleted]</td>
	</tr>
	<tr>
		<td colspan="2">
			<table width="80%" cellspacing="0" cellpadding="4" border="0">
				<!--START: invoicedata--> 
				<tr> 
					<td class="item" align="left">
						<b>[rewards_redeem-redeemYourInvoice] [invoicenum_prefix][invoicenum] 
						[<a href="ordertracking.asp?action=view&id=[orderid]">details</a>]</b>
					</td>
				</tr>
				<!--END: invoicedata-->						   
				<tr> 
					<td class="item">[rewards_redeem-redeemThanks]</td>
				</tr>
			</table>
		</td>
	</tr>
	<!--END: ordercompleted-->



<!--START: CATEGORY_FOOTER-->              
<tr><td>&nbsp;</td></tr>
	<tr> 
		<td  class="data" colspan="2">[CONTENT]</td>
	</tr>

<!--END: CATEGORY_FOOTER--> 
</table>
