<table width="95%" cellspacing="0" cellpadding="2" border="0">
  <tr>
    <td class="page_headers" align="left">[rewards_details-detail] </td>
    <!--START: myAccount-->
    <td valign="middle" align="right"><a href="myaccount.asp"><img src="assets/templates/common/images/arrow_back.png" border="0" align="absmiddle"></a>&nbsp;<a href="myaccount.asp">back to my account</a></td>
    <!--END: myAccount--> 
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <!--START: CATEGORY_HEADER-->
  <tr>
    <td class="data" colspan="2">[CONTENT]</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <!--END: CATEGORY_HEADER-->
  <tr>
    <td class="titles" colspan="2">&nbsp;[rewards_redeem-productsList]</td>
  </tr>
  <tr>
    <td colspan="2"><!-------- START: Item menu --------------------->
      
      <table width="98%" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5"><table width="95%" cellpadding="0" cellspacing="4" border="0" id="Table3">
              <!--START: CATEGORY_ITEMS--> 
              <!--START: ITEM_TEMPLATE-->
              <table border="0" cellspacing="0" cellpadding="0" width="95%">
                <tr>
                  <td colspan="2" align="center" valign="middle"><a href="redeem.asp?action=redeem&item_id=[catalogid]"><img src="[THUMBNAIL]" alt="[name]" border="0"></a></td>
                </tr>
                <tr valign="middle">
                  <td colspan="2" class="item" align="center">[name]</td>
                </tr>
                <tr>
                  <td class="price" colspan="2" align="center">[reward_redeem] points</td>
                </tr>
                <tr>
                  <td class="item" colspan="2" align="center" valign="middle"><a href="redeem.asp?action=redeem&item_id=[catalogid]">Redeem</a></td>
                </tr>
              </table>
              <!--END: ITEM_TEMPLATE-->
              <!--END: CATEGORY_ITEMS-->
            </table></td>
        </tr>
        <tr>
          <td colspan="5"  align="center">&nbsp;</td>
        </tr>
        <tr  align="center">
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="5"><img src="assets/spacer.gif" width="1" height="1" alt="" border="0"></td>
        </tr>
      </table>
      <!------------- END: Item menu -------------------------></td>
  </tr>
  <!--START: CATEGORY_FOOTER-->
  <tr>
    <td  class="data" colspan="2">[CONTENT]</td>
  </tr>
  <!--END: CATEGORY_FOOTER-->
</table>
