
<table width="95%" cellspacing="0" cellpadding="0">
	<tr>
		<td class="page_headers" align="left" width="100%"> [rma_header-new-thankyou] </td>
		<td align="right"><a href="myaccount.asp"><img src="assets/templates/common/images/arrow_back.png" border="0" align="absmiddle"></a> </td>
		<td valign="middle" nowrap><a href="myaccount.asp">back to my account</a> </td>
	</tr>
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	<!--START: CATEGORY_HEADER-->
	<tr>
		<td class="data" colspan="3">?[CONTENT]</td>
	</tr>
	<!--END: CATEGORY_HEADER-->
</table>
<br>
<table width="95%" border="0" class="alternative" cellpadding="4" cellspacing="0" id="Table3">
	<tr>
		<td><table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="item"> [rma_new-thankyou-message] <br>
						<br>
						<input type="button" class="btn" onclick="javascript:location.href='my_rma.asp?oid=[oid]&r=[RmaNumber]';" value="[rma_header-new-viewdetails]" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'"/>
					</td>
				</tr>
			</table></td>
	</tr>
</table>
<br>
<table width="95%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td colspan="2" nowrap="nowrap" align="left" class="item"><!--START: CATEGORY_FOOTER-->
	<tr>
		<td class="data" colspan="3">?[CONTENT]</td>
	</tr>
	<!--END: CATEGORY_FOOTER-->
	</td>
	
	</tr>
	
</table>
<!--END: NEW-->

