<div align="center"> <center>
<!--START: BODY_HEADER-->
<table width="95%" cellspacing="0" cellpadding="2" border="0">
	<tr>
		<td class="data"> [PAGE_FULLLINE]<br>
			<br>
		</td>
	</tr>
	<tr>
		<td class="page_headers">[htmlpage]</td>
	</tr>
</table>
<!--END: BODY_HEADER-->
<!--START: SUB_PAGES-->
<table width="95%" cellspacing="0" cellpadding="2" border="0">
	<!--START: SUB_PAGES_FORMAT-->
	<tr>
		<td class="font2"><a href="infopage.asp?page=[id]&extra=[extra]">[sub_pages_title]</a></td>
	</tr>
	<!--END: SUB_PAGES_FORMAT-->
</table>
<p>
	<!--END: SUB_PAGES-->
<table width="95%" cellspacing="0" cellpadding="2" border="0">
	<!--START: article-->
	<tr>
		<td class="data"><b><a href="[rss_link]">[rss_title]</a></b> - <b>[rss_date]</b></td>
	</tr>
	<tr>
		<td class="data">[rss_description]</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<!--END: article-->
</table>
</center></div>
