<table width="98%" cellpadding="0" cellspacing="0">
	<!--START: CATEGORY_HEADER-->
	<tr><td class="data">[CONTENT]</td></tr>
	<!--END: CATEGORY_HEADER-->
	<!--START: SEARCH_PAGES-->
	<tr>
		<td class="titles" colspan="5">&nbsp;[Search_Header-pages]</td>
	</tr>
	<!--START: PAGING-->
	<tr>
		<td><table width="100%">
				<tr align="center">
					<td class="font2"> [category_moreresults]&nbsp;
						<!--START: PREV-->
						<font size="1"><a href="search.asp?keyword=[keyword]&amp;sortby=[sortby]&amp;page=[prev]&amp;stype=1">[category_previouspage]</a></font>&nbsp;
						<!--END: PREV-->
						<!--START: PAGES-->
						<!--START: FIRST_PAGE-->
						<font size="1"><a href="search.asp?keyword=[keyword]&amp;page=PAGE&amp;stype=1"><b>[PAGE]</b></a>...</font>
						<!--END: FIRST_PAGE-->
						<!--START: PAGES_SELECTED-->
						<font size="1"><b>[PAGE]</b></font>
						<!--END: PAGES_SELECTED-->
						<!--START: PAGES_NOTSELECTED-->
						<a href="search.asp?keyword=[keyword]&amp;sortby=[sortby]&amp;page=PAGE&amp;stype=1"><font size="1">PAGE</font></a>
						<!--END: PAGES_NOTSELECTED-->
						<!--START: LAST_PAGE-->
						<font size="1">...<a href="search.asp?keyword=[keyword]&amp;sortby=[sortby]&amp;page=PAGE&amp;stype=1"><b>[PAGE]</b></a></font>
						<!--END: LAST_PAGE-->
						<!--END: PAGES-->
						<!--START: NEXT-->
						&nbsp;<font size="1"><a href="search.asp?keyword=[keyword]&amp;sortby=[sortby]&amp;page=[next]&amp;stype=1">[category_nextpage]</a></font>
						<!--END: NEXT-->
					</td>
				</tr>
			</table></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<!--END: PAGING-->
	<!--START: SEARCH_PAGES_FORMAT-->
	<tr>
		<td><table border="0" cellspacing="4" cellpadding="0">
				<tr>
					<td class="font2"><a href="[page_link]">[page_name]</a></td>
				</tr>
				<tr>
					<td class="font2">[page_content]</td>
				</tr>
			</table></td>
	</tr>
	<!--END: SEARCH_PAGES_FORMAT-->
	<!--START: PAGING-->
	<tr>
		<td><table width="100%">
				<tr align="center">
					<td class="font2"> [category_moreresults]&nbsp;
						<!--START: PREV-->
						<font size="1"><a href="search.asp?keyword=[keyword]&amp;sortby=[sortby]&amp;page=[prev]&amp;stype=1">[category_previouspage]</a></font>&nbsp;
						<!--END: PREV-->
						<!--START: PAGES-->
						<!--START: FIRST_PAGE-->
						<font size="1"><a href="search.asp?keyword=[keyword]&amp;page=PAGE&amp;stype=1"><b>[PAGE]</b></a>...</font>
						<!--END: FIRST_PAGE-->
						<!--START: PAGES_SELECTED-->
						<font size="1"><b>[PAGE]</b></font>
						<!--END: PAGES_SELECTED-->
						<!--START: PAGES_NOTSELECTED-->
						<a href="search.asp?keyword=[keyword]&amp;sortby=[sortby]&amp;page=PAGE&amp;stype=1"><font size="1">PAGE</font></a>
						<!--END: PAGES_NOTSELECTED-->
						<!--START: LAST_PAGE-->
						<font size="1">...<a href="search.asp?keyword=[keyword]&amp;sortby=[sortby]&amp;page=PAGE&amp;stype=1"><b>[PAGE]</b></a></font>
						<!--END: LAST_PAGE-->
						<!--END: PAGES-->
						<!--START: NEXT-->
						&nbsp;<font size="1"><a href="search.asp?keyword=[keyword]&amp;sortby=[sortby]&amp;page=[next]&amp;stype=1">[category_nextpage]</a></font>
						<!--END: NEXT-->
					</td>
				</tr>
			</table></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<!--END: PAGING-->
	<!--END: SEARCH_PAGES-->
	<!--START: NO_RESULTS-->
	<tr>
		<td>
	<tr>
		<td class="data">[Search_no-results]</td>
	</tr>
	<!--END: NO_RESULTS-->
	<!--START: CATEGORY_FOOTER-->
	<tr><td class="data">[CONTENT]</td></tr>
	<!--END: CATEGORY_FOOTER-->
</table>

