 <!--START: CATEGORY_HEADER-->              
  <table width="98%" cellspacing="0" cellpadding="2" border="0">
    <tr> 
		<td class="data">&nbsp;[CONTENT]</td>
    </tr>
  </table>
 <!--END: CATEGORY_HEADER-->
  <table width="98%" cellspacing="0" cellpadding="2" border="0">
<tr><td class="data">
	<p>
    [billing_firstname] [billing_lastname]<br>
  [billing_address] [billing_address2]<br>
[billing_city], [billing_state]. [billing_zip] [billing_country]</p>
<strong>Email:</strong> [email]<br>
      <strong>Password:</strong> [pass]<br>

<p><!--START: billing_company-->
  <strong>Company:</strong> [billing_company]<br>
  <!--END: billing_company-->
<!--START: accountno-->
<strong>Tax id:</strong> [accountno]<!--END: accountno-->
</p>
<!--START: customergroup-->
<p><strong>Customer Group:</strong> [groupname]<br>
<!--START: description-->  <em>[description]</em><br><!--END: description-->
  <strong>Minimum Order:</strong> [minimumorder]<br>
<!--END: customergroup-->
  <br>
  <!--START: comments-->
  <strong>Comments:</strong> [comments]
  <!--END: comments-->
</p>
	</td></tr></table>
</p>
	 <!--START: CATEGORY_FOOTER-->              
		  <table width="98%" cellspacing="0" cellpadding="2" border="0">
		    <tr> 
				<td  class="data">[CONTENT]</td>
		    </tr>
		  </table>
	 <!--END: CATEGORY_FOOTER--> 
