
<div align="center">
<br />
<table border="0" width="95%" align="center" cellpadding="2" cellspacing="0">
	<tr>
		<td width="324" align="left" class="checkout-headers" valign="bottom">USPS Tracking Tool</td>
		<td width="108" class="checkout-headers"><img src="/admin/templates/images/usps_logo.gif"></td>
	</tr>
	
	<tr>
		<td colspan="2">
		
			<table border="0" width="100%" cellspacing="0" cellpadding="0">
<!--START: results-->
<tr>
				<td class="titles2" colspan="2">
				Detailed Results</td>
				
			</tr>
		
<tr><td width="70%">
<table width="100%" cellpadding="0" cellspacing="0">
<tr><td class="item">	<b>Tracking 
				Details: [trackno]</b><br /><br /></td></tr>
<!--START: service_description-->
			<tr>
				<td class="item"><strong>Service Description:</strong> [service_description]</td>
				
			</tr>
<!--END: service_description-->

<!--START: delivery_date-->
			<tr>
				<td class="item" vAlign="top">
				
				<strong>Delivery Date:</strong>  [delivery_date]</td>
			
			</tr>
<!--END: delivery_date-->

</table>
</td><td width="30%" valign="top">
<table width="100%" cellpadding="0" cellspacing="0">
<!--START: shipto_address-->
			<tr>
				<td class="item" vAlign="top" width="37%" >
				
				<strong>Ship-To Address</strong>  </td></tr>
				<tr><td class="item" bgColor="#ffffff" width="58%">[shipto_address]</td>
			</tr>
<!--END: shipto_address-->


</table>

</td></tr>

<tr><td>&nbsp;</td></tr>
			<tr>
				<td align="right" colspan="3">
				<div align="center">
				<table cellSpacing="1" cellPadding="3" class="alternative" border="0" width="90%">
					<tr>
						<td class="titles2"  width="122"><strong>Location</strong></td>
						<td class="titles2" ><strong>Description</strong></td>
						<td class="titles2" ><strong>Date&nbsp;/&nbsp;Time</strong></td>
					</tr>
					<!--START: activity-->
					<tr>
						<td class="item" bgColor="#ffffff" width="122">[location]</td>
						<td class="item" bgColor="#ffffff">[description]</td>
						<td class="item" bgColor="#ffffff">[date_time]</td>
					</tr>
					<!--END: activity-->
					</table>
				</div>
				</td>
			</tr>
			
					<!--END: results-->
			
		</table>
		</td>
	</tr>
	
</table>

</div>


</body>

</html>

