<!-- //3dcart v2.2//frame.html//Rev. #1 10/31/2006-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>[TITLE]</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script type="text/JavaScript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script><style type="text/css">
<!--
body {
	background-image: url();
	background-color: #F00;
}
-->
</style>
<link href="css/default.css" rel="stylesheet" type="text/css">
[META]
<script language="JavaScript" src="assets/templates/common/js/utilities.js" type="text/JavaScript"></script>
<LINK REL="StyleSheet" HREF="assets/templates/[template]/css/[stylesheet]" TYPE="text/css" MEDIA="screen">
</head>
<body onLoad="MM_preloadImages('assets/templates/[template]/images/home_over.jpg','assets/templates/[template]/images/view_cart_over.jpg','assets/templates/[template]/images/contact_us_over.jpg','assets/templates/[template]/images/my_account_over.jpg','images/home_over.gif','images/view_cart_over.gif','images/contact_us_over.gif','images/my_account_over.gif')">
<center>
  <table width="[screenwidth]" cellpadding="0" cellspacing="0">
    
  <tr><td width="50%" rowspan="2" class="store-name"><!--START: global_header--><span class="store-name">[storename]</span><br><span class="store-slogan">[storeslogan]</span><!--END: global_header--></td>
<td height="38" align="right" nowrap class="font3 white"><!--START: username--> <table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td align="right" nowrap class="font3 white">[account_greeting] [username] | <a href="logout.asp" class="link2 white"><strong>Logout</strong></a></td>
  </tr>
</table>
<!--END: username--></td>
<td align="right" nowrap class="font3 white">  <a href="view_cart.asp"><img src="images/cart.gif" alt="Shopping Cart" width="14" height="13" border="0" /></a> Shopping Cart -<strong> [ITEMSINCART]</strong><span class="font4 white"> item(s)</span></td>
</tr>
<tr>
	<td colspan="2" align="right"> <!--START: FRAME_SEARCH-->
	 	<form method="get" action="search.asp" STYLE="margin: 0px; padding: 0px;" ID="Form1">
			<table cellspacing="0" cellpadding="4" border="0" ID="Table2">
			
				<tr>
				<td class="font3 white">Search</td>	<td><input  type="text" size="13" name="keyword" class="txtBoxStyle" ID="Text1"></td><td><input  type="submit" name="search" value="GO" class="btn" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'" ID="Submit1"></td>
				</tr>
			</table>
		</form>
			<!--END: FRAME_SEARCH--></td></tr>
<tr><td colspan="3" class="line"> 
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left"><img src="images/button_bar_left.gif" width="10" height="43"></td>
	<td align="center"><a href="/" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image16','','assets/templates/[template]/images/home_over.gif',1)"><img src="images/home.gif" name="Image16" width="72" height="43" border="0"></a><a href="view_cart.asp" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image17','','assets/templates/[template]/images/view_cart_over.gif',1)"><img src="images/view_cart.gif" name="Image17" width="103" height="43" border="0"></a><a href="Contact-Us_ep_5.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image18','','assets/templates/[template]/images/contact_us_over.gif',1)"><img src="images/contact_us.gif" name="Image18" width="121" height="43" border="0"></a><a href="myaccount.asp" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image19','','assets/templates/[template]/images/my_account_over.gif',1)"><img src="images/my_account.gif" name="Image19" width="123" height="43" border="0"></a></td>
	<td align="right"><img src="images/button_bar_right.gif"></td>
  </tr>
</table>

</td>
</tr>
			
<tr><td colspan="3"><img src="assets/templates/[template]/images/spacer.gif" height="10"></td>
</tr>

			 <tr><td colspan="3">
			 <table width="100%" cellpadding="0" cellspacing="0">
			 <tr>
			 <!--start left column-->
			 
			 
			 
			 <td valign="top" background="assets/templates/[template]/images/bg2.gif" width="160">
			 
			 
			 
			 <!--START: shopping_cart-->


<table width="100%" cellspacing="0" cellpadding="0" border="0" class="cart-text">
			
              			<tr> 
			                <td class="menu-headers" colspan="3">[frame_shoppingcart]</td>
		              </tr>             
        <!--START: shopping_cart_full-->
		<form action="recalculate.asp" method="POST" name="recalculate">
				<tr>
				  <td colspan="2" align="center"  class="cart-text"><img src="assets/templates/[template]/images/spacer.gif" width="1" height="10"> </td>
				  </tr>
				<tr>    
	<td align="center"  class="cart-text"><input  type="submit" name="www" value="[shoppingcart_updatecart]" class="btn" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'"></td>
	<td align="center"  class="cart-text"><input type="submit" name="clearcart" value="[shoppingcart_clearcart]" onClick="javascript:document.recalculate.action='recalculate.asp?clearcart=1';document.recalculate.submit();" class="btn" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'"></td>
				</tr>
	
<tr><td colspan="3" align="center" class="cart-text">
				
	<!--START: SHOPPING_CART_ITEM-->				
								<table width="160" border=0 cellspacing="0" cellpadding="0">
									<tr>
										<td class="cart-text" colspan="2">[ITEM_NAME]</a>
										<!--START: itemoptions--><br><a href='#' onClick="toggle('opt[ITEM_ID]')">View/Hide options</a>
										<br><div id="opt[ITEM_ID]" name="opt[ITEM_ID]" style="display:none;">[OPTIONS]</div><!--END: itemoptions-->										</td>
									</tr>
									<tr>				
										<td  valign="top" align="left" class="cart-text"><input class="input1" type="text" name="qtyitemnum" value="[ITEM_QUANTITY]" size="3" maxlength="5"><input type="hidden" name="coliditemnum" value="[ITEM_ID]"></td>
										<td class="cart-text" valign="top" align="right"><strong>[ITEM_PRICE]</strong></td>
									</tr>
									<tr><td colspan="2" class="top" height="1"><img src="spacer.gif" width="95" height="1" alt="" border="0"></td></tr>
								</table>
	<!--END: SHOPPING_CART_ITEM-->
						</td>
</tr>
				</form>	
						<tr><td colspan="3" valign="top">
						<!--START: SubTotal-->
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
	
								<form action="checkout.asp?step=1" method=post>			
									<tr><td  align="center"  class="cart-text"> 
            				                   
	<!--START: DISCOUNTS-->
							<strong>[shoppingcart_subtotal]</strong> [CARTSUBTOTAL]<br>
							<strong> <a href="view_cart.asp">[shoppingcart_discount]</a></strong> [DISCOUNTS]<br>
	<!--END: DISCOUNTS-->
							<strong>Total:</strong> [CARTTOTAL]<br>
          						      
						                 <input  type="submit" name="www" value="[shoppingcart_checkout]" class="btn" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'"><br><img src="assets/templates/[template]/images/spacer.gif" width="1" height="10">
			
										
										</td>
									</tr>
						  </form>	
								
			<tr><td class="top"><img src="assets/templates/[template]/images/divider1.gif" width="100%" height="5"></td>
			</tr>
	<!--START: apply_coupon-->
		<tr><td class="data">
			<table width=100% border=0 cellspacing=0 cellpadding=0>
				<form name="frmcoupon" method="post" action="recalculate.asp?apply_coupon=1">
				<tr><td class="cart-text" colspan=2 align="center"><strong>Apply Coupon</strong></td>
				</tr> 
				<tr><td class="cart-text" align="right"><input type="text" name="coupon_code" class="txtBoxStyle" size="10">  </td><td class="cart-text"><input type=submit value="GO" class="btn" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'"></td></tr>
				<tr>
				  <td colspan="2" align="right" class="cart-text"><img src="assets/templates/[template]/images/spacer.gif" width="1" height="10"></td>
				  </tr>
				</form>
			</table>
		</td></tr>
	<!--END: apply_coupon-->
	</table>
	<!--   END: SubTotal -->	

	<!--START: quick_ship-->
		<!--START: ShipQuote-->									
								<table width=100% border=0 cellpadding=0 cellspacing=0 background="assets/templates/[template]/images/bg2.gif" ID="Table1">
										<form action="shipquote.asp" method=post name="shipquote">
										<input type=hidden name="thispage" value>
									<tr>		
										<td  align="center"  class="cart-text"><img src="assets/templates/[template]/images/spacer.gif" width="1" height="10"><br><b>Calculate Shipping</b> <br>
						                <b>Zip</b> <input  type="text" name="shipping_zip" size=4 value="[shipping_zip]" class="txtBoxStyle"> <input  type="submit" value="GO!" class="btn" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'"> <input type="button" class="btn" value="Clear" onClick="document.shipquote.action='shipquote.asp?action=clean';document.shipquote.submit();" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'"></p>
								[shipping_city] [shipping_state] [shipping_zip]<br></td>			
									</tr>
								  </form>
						  </table>
								
								<script language="javascript">document.shipquote.thispage.value = window.location.href;</script>
	<!--END: ShipQuote-->	
	
	
	<table width=100% border=0 cellpadding=0 cellspacing=4 background="assets/templates/[template]/images/bg2.gif">
	<!--START: Shippers-->
								
									<tr>
										<td class="cart-text" colspan=2 align=center><b>[OPTION-SHIPPER]</b> <i>[OPTION-DESCRIPTION]</i> [OPTION-PRICE]</td>
									</tr>
									
	<!--END: Shippers-->	
	</table>				
	<!--END: quick_ship-->					
							
								
	<!--END: shopping_cart_full-->
					
	<!--START: shopping_cart_empty-->
					<tr>
						<td colspan="3" align="center" background="assets/templates/[template]/images/bg2.gif" class="cart-text"> 
						  CART IS EMPTY						</td>
					</tr>
	<!--END: shopping_cart_empty-->
			   </table>

<!--END: shopping_cart-->
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 <!--START: FRAME_CATEGORY-->
			 <table width="100%" cellspacing="0" cellpadding="0" border="0" ID="Table5">
	              <tr>
	                <td class="menu-headers">[frame_categories]</td>
	              </tr>
	           
					<!--START: CATEGORIES-->
						
					<!--START: CATEGORY_FORMAT-->
						<tr><td nowrap> <a href="view_category.asp?cat=CATID" class="cat"><strong>CATEGORY</strong></a></td>
						</tr>
					<!--END: CATEGORY_FORMAT-->
					
					<!--START: SUB_CATEGORY_FORMAT-->
	        			<tr><td ><table  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="middle"><span class="cart-text"><img src="assets/templates/[template]/images/li.gif" hspace="3"></span></td>
    <td valign="top"class="font3"><a href="view_category.asp?cat=CATID" class="cat">CATEGORY</a></td>
    <td valign="top"class="font3"> </td>
  </tr>
</table>
</td>
	        			</tr>
	             	<!--END: SUB_CATEGORY_FORMAT-->
		 
					<!--END: CATEGORIES--> 
           </table>
	 <!--END: FRAME_CATEGORY-->
	 
	 <!--START: FRAME_BYPRICE-->	 
		<TABLE width="100%" cellspacing="0" cellpadding="0" border="0" ID="Table6">
			<tr>
	                <td class="menu-headers">[frame_byprice]</td>
                </tr>
			  
				<!--START: byprice_format-->
				<tr><td>  <a href="search_groups.asp?keyword=[id]&byprice=[id]" class="cat">[title]</a></td></tr>
				<!--END: byprice_format--> 
		</TABLE>
			 <!--END: FRAME_BYPRICE-->		
			  <!--START: FRAME_MANUFACTURER-->	
		<form name="mfg" id="mfg" method="get" action="search_groups.asp" STYLE="margin: 0px; padding: 0px;">	 
	<TABLE width="100%" cellspacing="0" cellpadding="0" border="0" ID="Table7">
			
			<tr>
	                <td class="menu-headers">[frame_manufacturer]</td>
	              </tr>
		  
	
<tr><td align="left">


			<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td><select name="manf" onChange="this.form.submit();" ID="Select1"  class="txtBoxStyle" style="width:150px;">
				<option value=0 selected class="txtBoxStyle">Manufacturer</option>
			<!--START: manufacturer_format-->
				<option value=[mfgid] class="txtBoxStyle">[manufacturer]</option>
			<!--END: manufacturer_format-->
			</select></td>
  </tr>
</table>


			</td></tr>
		</TABLE>
         </form>
		
			 <!--END: FRAME_MANUFACTURER-->
			    <!--START: NEW_RELEASES_BLOCK-->
		
		<table width="100%" cellpadding="0" cellspacing="0" border="0" ID="Table8">
	       <tr>
	         <td class="menu-headers">[frame_new-releases]</td>
	       </tr>
		   
			<!--START: newreleases--> 
			<tr><td align="center"><a href="product.asp?itemid=[catalogid]"><img src="[thumbnail]" border="0" alt="[name]"></a><br>
<a href="product.asp?itemid=[catalogid]" class="white">[id] [name]</a></td></tr>
			
			<!--END: newreleases-->	
			   </table>					
		
        <!--END: NEW_RELEASES_BLOCK-->		
			 <!--START: FRAME_MAILLIST-->
		         <form STYLE="margin: 0px; padding: 0px;" method="post" name="mailing" action="mailing_list.asp?action=add" onSubmit="return mailing_list();" ID="Form2"> 
			    <table width="100%" cellspacing="0" cellpadding="0" border="0" ID="table9">
        	   
				
    	          	
					<tr>
                  		<td class="menu-headers" colspan="2">[frame_mailinglist]</td>
    	        	</tr>
				
	
    	         	 <tr>
					 <td class="menu-text white" colspan="2"> <br>  [mailinglist_text]</td>
				    </tr>  
					
					<tr>
					<td> </td>
					<td><input type="text" size="16" name="email" class="txtBoxStyle" id="Text2">					  <input type="submit" name="www" value="[mailinglist_button]" class="btn" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'" ID="Submit2"></td>
					</tr>  
		
					<tr>
					<td  class="menu-text white" colspan="2">   <input type="radio" name="subscribe" value="1" checked ID="Radio1">[mailinglist_subscribe]</td>
					</tr>
	
					<tr>
					<td  class="menu-text white" colspan="2">   <input type="radio" name="subscribe" value="0" ID="Radio2">[mailinglist_unsubscribe]</td>
				    </tr>        	
				</table>
	   		   </form><br>
	<!--END: FRAME_MAILLIST--> 
		<!--START: LEFT_BANNER-->
		<center>
		  <span class="item"><p>[LEFT_BANNER]</p></span>
		
		</center>

	<!--END: LEFT_BANNER--></td>
	

			 <!--end left column-->
			 	 <!--start middle column-->
			 <td align="center" valign="top" class="data"><table width="100%" border="0" cellspacing="0" cellpadding="10">
               <tr>
                 <td align="center">MIDDLE</td>
               </tr>
             </table></td>
			 <!--end middle column-->
             	<!--START: RIGHT BAR-->
        
		
			 <td valign="top" background="assets/templates/[template]/images/bg2.gif" width="160">
			    <!--START: TOP_SELLERS_BLOCK-->
		 <table width="160" cellpadding="0" cellspacing="0" border="0" ID="Table10">
	       <tr><td class="menu-headers" colspan="2">Best Sellers</td></tr>
		   
			<!--START: topsellers--> 
			<tr><td><table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td><a href="product.asp?itemid=[catalogid]" class="cat"><img src="thumbnail.asp?file=[thumbnail]&maxx=30&maxy=0" align="middle" border="0" id="large" name="large"></a></td>
    <td class="menu-text"><a href="product.asp?itemid=[catalogid]" class="cat">[name]</a>	</td>
  </tr>
</table>
</td></tr>
			<!--END: topsellers-->								
		</table>
        <!--END: TOP_SELLERS_BLOCK-->
	
	<!--START: RIGHT_BANNER--><br>
		  <span class="data"><center>[RIGHT_BANNER]</center></span>
	<!--END: RIGHT_BANNER-->			 </td>
			<!--END: RIGHT BAR-->
			 </tr>
			 </table>
			 </td></tr>
			 <tr><td colspan="3" width="1" class="borders"><img src="assets/templates/[template]/images/spacer.gif" width="1" height="5" alt="" /></td></tr>
			 
			<tr bgcolor="#000000"><td height="69" colspan="3" align="center">
			  <table width="97%" cellpadding="0" cellspacing="0" ID="Table11">
			  <tr><td colspan="2"><!--START: FRAME_LINKS-->
		    <table cellspacing="0" cellpadding="4" border="0" ID="Table12">
											<tr>
													<!--START: LINKS-->
														
													<!--START: LINK_FORMAT-->
													<td class="font3"><a href="infopage.asp?page=[link_id]&extra=1" target="[link_target]" class="link2 white">[link_name]</a> <span class="white">|</span> </td>
													<!--END: LINK_FORMAT--> 
														
													<!--END: LINKS--> 
											</tr>
				</table>
	<!--END: FRAME_LINKS-->			</td>
			  </tr>
								<tr><td colspan="2" class="footer white">[GLOBAL_FOOTER]</td></tr><!--END: globalfooter0-->
			  </table>
					</td>
	</tr>
				 <tr><td colspan="3" width="1" class="borders"><img src="assets/templates/[template]/images/spacer.gif" width="1" height="5" alt="" /></td></tr>
 <tr><td  colspan="3"><table width="100%" border="0" cellspacing="0" cellpadding="5" class="footer" align="center">
   <tr>
     <td align="center" class="white">[frame_copyright1]</td>
   </tr>
 </table>
  </td>
 </tr>
  </table>
</center>

<!--START: 3dcart stats-->

<script type="text/javascript" language="JavaScript">

var file='/stats/count.asp';

var stats_d=new Date(); 
var stats_s=stats_d.getSeconds(); 
var stats_m=stats_d.getMinutes();
var stats_x=stats_s*stats_m;
var prdID = '[catalogid]';
var catID = '[catid]';

stats_f='' + escape(document.referrer); stats_f=stats_f.replace('_','----');
if (navigator.appName=='Netscape'){stats_b='NS';} 
if (navigator.appName=='Microsoft Internet Explorer'){stats_b='MSIE';} 
if (navigator.appVersion.indexOf('MSIE 3')>0) {stats_b='MSIE';}
stats_u='' + escape(document.URL); stats_u=stats_u.replace('_','----'); stats_w=screen.width; stats_h=screen.height; 
stats_v=navigator.appName; 
stats_fs = window.screen.fontSmoothingEnabled;
if (stats_v != 'Netscape') {stats_c=screen.colorDepth;}
else {stats_c=screen.pixelDepth;}
stats_j=navigator.javaEnabled();
info='w=' + stats_w + '&h=' + stats_h + '&c=' + stats_c + '&r=' + stats_f + '&u='+ stats_u + '&fs=' + stats_fs + '&b=' + stats_b + '&x=' + stats_x + '&cat=' + catID + '&prd=' + prdID;
document.write('<img src="' + file + '?'+info+ '" width=1 height=1 border=0>');
</script>
</a>
<noscript>
<img src="/stats/count.asp" width=90 height=30 border=0>
</noscript>
<!--END: 3dcart stats-->
</body>
</html>
