<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="language" content="en" />
	<meta name="robots" content="none" />
	<title>3dFeedback</title>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<link type="text/css" href="/assets/templates/common/3dfeedback/css/feedback.css" rel="stylesheet" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/templates/common/3dfeedback/js/jquery.rating.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<form action="feedback.asp?action=send2" method="post">
<input type=hidden value="[feedbackid]" name=feedbackid>
<table cellpadding="0" cellspacing="0" border="0" width="456" align="center">
<tr>
<td width="30" height="25"><img src="/assets/templates/common/3dfeedback/images/form_t-l.png" border="0" width="30" height="25" alt=""></td>
<td style="background: url(/assets/templates/common/3dfeedback/images/form_t.png) repeat-x;"><img src="/assets/templates/common/3dfeedback/images/form_t.png" border="0" width="10" height="25" alt=""></td>
<td width="30" height="25"><img src="/assets/templates/common/3dfeedback/images/form_t-r.png" border="0" width="30" height="25" alt=""></td>
</tr>
<tr>
<td style="background: url(/assets/templates/common/3dfeedback/images/form_l.png) repeat-y;" width="30"><img src="/assets/templates/common/3dfeedback/images/form_l.png" border="0" width="30" height="25" alt=""></td>
<td style="background: #f6f6f6;">

<!--START: feedback_logo-->
<div><img src="[feedback_logo]"></div> 
<!--END: feedback_logo-->

<h1>[feedback_contact-question]</h1>
<div id="form_contact">
<table cellpadding="0" cellspacing="0" border="0" id="contactme" style="margin:10px 10px 10px 10px;">
<tr>
<td class="field_label">Name:</td>
<td><input type="text" name="name" class="feedback" value="[name]"></td>
</tr>
<tr>
<td class="field_label">Phone:</td>
<td><input type="text" name="phone" class="feedback" value="[phone]"></td>
</tr>
<tr>
<td class="field_label">E-Mail:</td>
<td><input type="text" name="email" class="feedback" value="[email]"></td>
</tr>
<tr>
<td class="field_label" align=right></td>
<td><input type="checkbox" name="subscribe" value="1" checked>&nbsp;Subscribe me to your newsletter.</td>
</tr>
</table>
</div>
<div align="right" style="padding: 12px 12px 0px 0px;">
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td align=left><a href="http://www.3dcart.com"><img src="/assets/templates/common/3dfeedback/images/3dfeedback.png" border="0" style="margin-left:12px;"></a></td>
<td style="padding-right:8px;" width="200" align=right><input type="submit" class="send_feedback" value=""></td>
<td width="85" align=left><input type="button" class="cancel_feedback" onClick="self.close();"></td>
</tr>
</table>

</div></td>
<td style="background: url(/assets/templates/common/3dfeedback/images/form_r.png) repeat-y;" width="30"><img src="/assets/templates/common/3dfeedback/images/form_r.png" border="0" width="30" height="25" alt=""></td>
</tr>
<tr>
<td width="30" height="25"><img src="/assets/templates/common/3dfeedback/images/form_b-l.png" border="0" width="30" height="25" alt=""></td>
<td style="background: url(/assets/templates/common/3dfeedback/images/form_b.png) repeat-x;"><img src="/assets/templates/common/3dfeedback/images/form_b.png" border="0" width="10" height="25" alt=""></td>
<td width="30" height="25"><img src="/assets/templates/common/3dfeedback/images/form_b-r.png" border="0" width="30" height="25" alt=""></td>
</tr>
</table>
</form>

<script>
    self.resizeTo(472, 480)
</script>
</body>
</html>

