<script src="/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />



<style type="text/css">
<!--
.welcome {
	font-size: 11px;
}
.red {
	font-size: 12px;
	color: #be0f34;
	text-align: center;
}
-->
</style>

<title>Recips, Seasonings, Food Mixes and Family Meal Plans</title>
<script src="/Scripts/swfobject_modified.js" type="text/javascript"></script>
<link href="css/4TellBoost.css" rel="stylesheet" type="text/css" />
<link href="css/4TellScroll.css" rel="stylesheet" type="text/css" />
<table border="0">
<tr>  </tr>
</table>
<table width="100" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="702" height="304">
      <param name="movie" value="/assets/templates/HG_custom/flash/07-01-12/shopsiteflash.swf" />
      <param name="quality" value="high" />
      <param name="wmode" value="opaque" />
      <param name="swfversion" value="7.0.70.0" />
      <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you dont want users to see the prompt. -->
      <param name="expressinstall" value="/Scripts/expressInstall.swf" />
      <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
      <!--[if !IE]>-->
      <object type="application/x-shockwave-flash" data="/assets/templates/HG_custom/flash/07-01-12/shopsiteflash.swf" width="702" height="304">
        <!--<![endif]-->
        <param name="quality" value="high" />
        <param name="wmode" value="opaque" />
        <param name="swfversion" value="7.0.70.0" />
        <param name="expressinstall" value="/Scripts/expressInstall.swf" />
        <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
        <div>
          <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
          <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
        </div>
        <!--[if !IE]>-->
      </object>
      <!--<![endif]-->
    </object></td>
  </tr>
</table>
<table width="200" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><table border="0">
      <tr>        </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="98%" border="0" align="center" cellpadding="2" cellspacing="0">
      <!--START: CATEGORY_HEADER-->
      <tr>
        <td class="data">[CONTENT]</td>
      </tr>
      <!--END: CATEGORY_HEADER-->
      <!--START: FEATURE_MENU-->
      <tr>
        <td class="titles" height="30"><b>[category_Header-specials]</b></td>
      </tr>
      <tr>
        <td align="center"><table border="0" cellspacing="0" cellpadding="5" width="100%" align="center">
          <!--START: CATEGORY_ITEMS-->
          <!--START: ITEM_TEMPLATE_0-->
          <table border="0" cellspacing="0" cellpadding="0" width="75%">
            <tr>
              <td colspan="2" align="center" valign="middle" height="100"><a href="/product.asp?itemid=[catalogid]"><img src="/[THUMBNAIL]" alt="[name]" border="0" /></a></td>
            </tr>
            <tr>
              <td colspan="2" class="item" align="center" height="30"><a href="/product.asp?itemid=[catalogid]" class="home">[name]</a></td>
            </tr>
            <tr>
              <td class="price" align="center" valign="middle" colspan="2"><!--START: ITEMPRICE-->
                [ITEMPRICE]
                <!--END: ITEMPRICE-->
                <!--START: SALEPRICE-->
                <table>
                  <tr>
                    <td class="price-info"><s>[ITEMPRICE]</s></td>
                  </tr>
                  <tr>
                    <td valign="top" class="price">[ITEMSALEPRICE]</td>
                    <td><img src="assets/templates/common/images/on_sale.png"/></td>
                  </tr>
                </table>
                <!--END: SALEPRICE--></td>
            </tr>
            <tr>
              <td height="20" class="item" align="center" valign="middle"><a href="/add_cart.asp?quick=1&item_id=[catalogid]" class="home"><u>[category_buyitlink]</u></a></td>
            </tr>
          </table>
          <!--END: ITEM_TEMPLATE_0-->
          <!--END: CATEGORY_ITEMS-->
        </table></td>
      </tr>
      <!--END: FEATURE_MENU-->
      <!--START: CATEGORY_FOOTER-->
      <tr>
        <td class="data">[CONTENT]</td>
      </tr>
      <!--END: CATEGORY_FOOTER-->
          <!-- 4-Tell Recommendations Begin (www.4-Tell.com)-->
  <script type="text/javascript">
	    _4TellBoost.setPageType('Home');
	</script>
  <!-- 4-Tell Recommendations End -->
    </table></td>
  </tr>
  <tr>
    <td><table border="0" align="center" cellpadding="0">
      <tr>
        <td><table width="350" border="0">
          <caption class="welcome">
          <img src="/assets/templates/HG_custom/images/hg_custom/recipes-red.jpg" alt="Recipes by Homemade Gourmet" width="82" height="22" align="left" />
          </caption>
          <tr valign="top">
            <td height="146" background="/common_images/left-tab-frame.jpg"><div id="Recipes1" class="TabbedPanels">
              <ul class="TabbedPanelsTabGroup">
                <li class="TabbedPanelsTab" tabindex="0">Top 10 Recipes</li>
                <li class="TabbedPanelsTab" tabindex="0">Easy Recipes</li>
              </ul>
              <div class="TabbedPanelsContentGroup">
                <div class="TabbedPanelsContent"><a href="/top-10-recipes.html"><img src="/common_images/top-10-recipes-rolodex.jpg" alt="Top 10 Recipes" width="78" height="80" border="0" align="left" />Top 10 recipes!</a> Our best of the best in recipes, be sure to check back often as Top Recipes are updated frequently based on seasonality and top searches.<br />
                  <br />
                  <br />
                </div>
                <div class="TabbedPanelsContent"><a href="/easy-recipes.html"><img src="/common_images/key-2-kitchen-icon.gif" alt="Key 2 The Kitchen Recipes by Homemade Gourmet" width="78" height="80" border="0" align="left" /></a>Search the exclusive <a href="/easy-recipes.html">Key 2 the Kitchen recipe database</a> for your ultimate party menu or just tonights dinner. Its your passport to great taste- over 1600 Homemade Gourmet recipes! <a href="/easy-recipes.html">Search here.</a><br />
                  <br />
                </div>
              </div>
              </div></td>
            </tr>
          </table></td>
        <td><table width="350" border="0">
          <caption class="welcome">
          <img src="/assets/templates/HG_custom/images/hg_custom/shopping-blue.jpg" alt="Shopping" width="82" height="22" align="left" />
          </caption>
          <tr valign="top">
            <td height="146" background="/common_images/right-tab-frame.jpg"><div id="Shopping" class="TabbedPanels">
              <ul class="TabbedPanelsTabGroup">
                <li class="TabbedPanelsTab" tabindex="0">Top Sellers</li>
<li class="TabbedPanelsTab" tabindex="0">Shop Now!</li></ul>
              <div class="TabbedPanelsContentGroup">
                <div class="TabbedPanelsContent"><a href="/top-selling-products.html"><img src="/common_images/top-sellers.jpg" alt="Top Selling Homemade Gourmet Products" width="78" height="80" border="0" align="left" />Top Sellers</a> Find "What's Hot" here. From seasonings to desserts you can't go wrong with our top selling products. Be sure to check back frequently as our delicious Top Sellers are updated for seasonality and what other customers just like you love!</div>
<div class="TabbedPanelsContent"><a href="/Shop-Homemade-Gourmet_ep_42.html"><img src="/common_images/shop-homemade-gourmet.jpg" alt="Shop Homemade Gourmet" width="78" height="80" border="0" align="left" /></a>Shop our entire selection of delicious mixes, seasonings, collections and more!<a href="/Shop-Homemade-Gourmet_ep_42.html">   Shop Now
</a><br />
<br />
  <br />
  <br />
<br />
</div></div>
              </div></td>
            </tr>
          </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="111" valign="bottom"><p class="welcome-text">Homemade Gourmet<sup></sup> provides <a href="/food-seasonings.html" class="welcome-text">food seasonings</a>, food mixes and <a href="/easy-recipes.html">recipes</a> that have been bringing thousands of families with busy lifestyles back to the dinner table for more than 14 years! We offer a full line of <a href="/food-seasonings.html">food seasonings</a> and delicious, easy-to-prepare mixes for every meal course...from dip mixes and side dishes to gourmet entrees and desserts. Satisfaction is 100% guaranteed, when you serve Homemade Gourmet<sup></sup>, your family will ask for it again and again!</p></td>
  </tr>
</table>
<script type="text/javascript">
<!--
var TabbedPanels1 = new Spry.Widget.TabbedPanels("Recipes1");
var TabbedPanels2 = new Spry.Widget.TabbedPanels("Shopping");
//-->
</script>
<script type="text/javascript">
<!--
swfobject.registerObject("FlashID");
swfobject.registerObject("FlashID");
//-->
</script>
