<script language="javascript" src="assets/templates/common/js/listing.js" type="text/javascript"></script>
<script language="javascript" src="assets/templates/common/js/tabs.js" type="text/javascript"></script>
<script language="javascript" src="assets/templates/common/3dzoom/magiczoomplus.js" type="text/javascript"></script>
<script src="prototype.js" type="text/javascript"></script>
<link href="assets/templates/common/3dzoom/magiczoomplus.css" rel="stylesheet" type="text/css" media="screen" />
<link href="assets/templates/common/js/tabs.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript"> 
 MagicZoomPlus.options = {
  'opacity':'65',
  'expand-effect':'elastic',
  'background-opacity':'50',
  'zoom-fade':'true',
  'zoom-position':'right',
  'fit-zoom-window':'false',
  'hint':'false'
 }
</script>
<form enctype="multipart/form-data" method="post" action="add_cart.asp" name="add" id="add" style="padding: 0px; margin: 0px;">
  <input type="hidden" name="item_id" value="[catalogid]" />
  <input type="hidden" name="itemid" value="[id]" ID="itemid" />
  <input type="hidden" name="category_id" value="[catid]" />
  <table width="98%" cellspacing="0" cellpadding="2" border="0">
    <tr>
      <td colspan="2"><table width="100%" cellpadding="0" cellspacing="0">
          <tr> 
            <!--START: CATEGORY_FULLINE-->
            <td class="item" colspan="2" valign="top">[CATEGORY_FULLLINE] <br /></td>
            <!--END: CATEGORY_FULLINE--> 
          </tr>
        </table></td>
    </tr>
    <!--START: CATEGORY_HEADER-->
    <tr>
      <td colspan="2">[CONTENT]</td>
    </tr>
    <!--END: CATEGORY_HEADER-->
    <tr>
      <td class="page_headers" width="90%">[name]</td>
      <td align="right"><table cellpadding="0" cellspacing="3" border="0">
          <tr> 
            <!--START: PREV_PROD-->
            <td align="center" class="item" valign="middle"><a href="[prevprodlink]"><img src="thumbnail.asp?file=[prevprodthumb]&amp;maxx=20&amp;maxy=20" border="0" alt=""><br />
              Prev</a></td>
            <!--END: PREV_PROD-->
            <td class="borders" width="1"><img src="assets/templates/common/images/spacer.gif" border="0" alt="" width="1"></td>
            <!--START: NEXT_PROD-->
            <td align="center" class="item" valign="middle"><a href="[nextprodlink]"><img src="thumbnail.asp?file=[nextprodthumb]&amp;maxx=20&amp;maxy=20" border="0" alt=""><br />
              Next</a></td>
            <!--END: NEXT_PROD--> 
          </tr>
        </table></td>
    </tr>
    <!--START: id-->
    <tr>
      <td class="item" valign="top" colspan="2"><strong>[product_id]&nbsp;<span style="display: inline;" id="product_id">[id]</span></strong></td>
    </tr>
    <!--END: id-->
    <tr>
      <td align="center" colspan="2"><table cellpadding="4" cellspacing="0" border="0">
          <tr>
            <td align="center"><!--START: image1--> 
              <a href="[image1]" class="[3dzoom_class]"  id="listing_main_image_link"><img src="thumbnail.asp?file=[image1]&amp;maxx=[image_medium_w]&amp;maxy=0" align="middle" border="0" id="large" name="large" alt="[name]" /></a>
              <div name="imagecaptiont" id="imagecaptiont" class="item">[imagecaption1]</div>
              
              <!--END: image1--></td>
            <td><table border="0" cellpadding="4" cellspacing="0">
                <!--START: image2-->
                <tr>
                  <td align="center" class="borders"><a href="[image1]" rel="thumb-id:listing_main_image_link" rev="thumbnail.asp?file=[image1]&maxx=[image_medium_w]&maxy=0" onclick="javascript:image_click(1);return false;"><img src="thumbnail.asp?file=[image1]&amp;maxx=75&amp;maxy=0" alt="" border="0" name="pimage1" /></a></td>
                </tr>
                <tr>
                  <td align="center" class="borders"><a href="[image2]" rel="thumb-id:listing_main_image_link" rev="thumbnail.asp?file=[image2]&maxx=[image_medium_w]&maxy=0" onclick="javascript:image_click(2);return false;"><img src="thumbnail.asp?file=[image2]&amp;maxx=75&amp;maxy=0" alt="" border="0" name="pimage2" /></a></td>
                </tr>
                <!--END: image2--> 
                <!--START: image3-->
                <tr>
                  <td align="center" class="borders"><a href="[image3]" rel="thumb-id:listing_main_image_link" rev="thumbnail.asp?file=[image3]&maxx=[image_medium_w]&maxy=[image_medium_h]" onclick="javascript:image_click(3);return false;"><img border="0" src="thumbnail.asp?file=[image3]&amp;maxx=75&amp;maxy=0" alt="" name="pimage3" /></a></td>
                </tr>
                <!--END: image3--> 
                <!--START: image4-->
                <tr>
                  <td align="center" class="borders"><a href="[image4]" rel="thumb-id:listing_main_image_link" rev="thumbnail.asp?file=[image4]&maxx=[image_medium_w]&maxy=[image_medium_h]"  onclick="javascript:image_click(4);return false;"><img border="0" src="thumbnail.asp?file=[image4]&amp;maxx=75&amp;maxy=0" alt="" name="pimage4" /></a></td>
                </tr>
                <!--END: image4-->
              </table></td>
          </tr>
          <!--START: image5-->
          <tr>
            <td align="center"><input type="button" onclick="popupsimple('gallery.asp?catalogid=[catalogid]',650,550)" name="IMG" value="[product_imagegallery]" class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'"></td>
            <td>&nbsp;</td>
          </tr>
          <!--END: image5-->
        </table></td>
    </tr>
    <tr>
      <td align="center" colspan="2"><table cellpadding="2" cellspacing="2" border="0">
          <tr>
            <td align="center"><!--START: email_friend-->
              
              <table border="0" cellspacing="0" cellpadding="2">
                <tr>
                  <td><img src="assets/templates/common/images/productpage_emailfriend.png" alt="[product_emailtofriend]" border="0" /></td>
                  <td><a href="#" onclick="javascript:window.open('recommendafriend.asp?url=[friendurl]','popup','height=460,width=550,location=no,' + 'scrollbars=no,menubars=no,toolbars=no,resizable=yes');">[product_emailtofriend]</a></td>
                </tr>
              </table>
              
              <!--END: email_friend--></td>
            <td align="center"><!--START: create_first_review-->
              
              <table border="0" cellspacing="0" cellpadding="2">
                <tr>
                  <td><img src="assets/templates/common/images/productpage_check.png" alt="[reviews_first]" border="0" /></td>
                  <td><a href='#' onclick="javascript:popup('review.asp?action=newReview&catalogid=[catalogid]',510,500,false);">[reviews_first]</a></td>
                </tr>
              </table>
              
              <!--END: create_first_review--></td>
            <td align="center" colspan="2"><!--START: create_review_link-->
              
              <table border="0" cellspacing="0" cellpadding="2">
                <tr>
                  <td><img src="assets/templates/common/images/productpage_check.png" alt="[reviews_new]" border="0" /></td>
                  <td><a href='#' onclick="javascript:popup('review.asp?action=newReview&catalogid=[catalogid]',510,500,false);">[reviews_new]</a></td>
                </tr>
              </table>
              
              <!--END: create_review_link--></td>
          </tr>
        </table></td>
    </tr>
    <!--START: giftcertificate_block-->
    <tr>
      <td colspan="2" class="titles">Gift Certificate Information</td>
    </tr>
    <tr>
      <td align="center" colspan="2"><table cellpadding="0" cellspacing="2" width="100%" class="alternative">
          <tr>
            <td align="center"><table cellspacing="10" cellpadding="0" border="0">
                <tr>
                  <td valign="top" class="price-info" align="right"><strong>From</strong></td>
                  <td valign="top" class="item" align="left"><input type="text" size="43" name="gc_fromname" class="txtBoxStyle">
                    <br />
                    (Sender's name)</td>
                </tr>
                <tr>
                  <td valign="top" class="price-info" align="right"><strong>To</strong></td>
                  <td valign="top" class="item" align="left"><input type="text" size="43" name="gc_toname" class="txtBoxStyle" />
                    <br />
                    (Recipient's name)</td>
                </tr>
                <tr>
                  <td valign="top" class="price-info" align="right"><strong>Email</strong></td>
                  <td valign="top" class="item" align="left"><input type="text" size="43" name="gc_toemail" class="txtBoxStyle">
                    <br />
                    (Recipient's email address)</td>
                </tr>
                <tr>
                  <td valign="top" class="price-info" align="right"><strong>Message </strong></td>
                  <td valign="top" class="item" align="left"><textarea cols="45" rows="5" name="gc_tomessage" class="txtareaStyle"></textarea>
                    <br />
                    (optional, max. length 500 characters) </td>
                </tr>
              </table></td>
          </tr>
        </table></td>
    </tr>
    <!--END: giftcertificate_block--> 
    <!--START: pricing-->
    <tr>
      <td colspan="2" class="titles">[product_Header-price]</td>
    </tr>
    <tr>
      <td colspan="2" align="center"><table cellpadding="5" cellspacing="0" border="0" width="80%">
          <tr> 
            <!--START: price2-->
            <td align="center" class="price-info" valign="top"><strong>[product_retailprice]</strong><br />
              [price2]</td>
            <!--START: SAVINGS-->
            <td align="center" class="price-info" valign="top"><strong>[product_savings]</strong><br />
              [savings]</td>
            <!--END: SAVINGS--> 
            <!--END: price2-->
            <td valign="top"><table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center" class="price-info" valign="top" colspan="2"><strong>[product_yourprice]</strong></td>
                </tr>
                <tr>
                  <td class="price" align="center" valign="top"><!--START: ITEMPRICE-->
                    
                    <div id="price">[price]</div>
                    
                    <!--END: ITEMPRICE--> 
                    <!--START: SALEPRICE--> 
                    <s>[price]</s><br />
                    <div id="price" class="price">[saleprice]</div></td>
                  <td><img src="assets/templates/common/images/productpage_onsale.png" alt="On Sale" border="0"></td>
                  <!--END: SALEPRICE--> 
                </tr>
              </table></td>
          </tr>
        </table></td>
    </tr>
    <!--END: pricing-->
    <tr>
      <td colspan="2" align="center"><table border="0" cellspacing="0" cellpadding="10">
          
          <!--START: product_availability-->
          <tr>
            <td colspan="2" align="center"><table border="0" cellspacing="0" cellpadding="2">
                <tr>
                  <td class="price-info" width="45%" nowrap="nowrap"><strong>[product_Header-availability]</strong></td>
                  <td class="price-info"><div id="availability">[availability]</div>
                    
                    <!--span style="display: inline;" id="product_inventory">[stock]</span--></td>
                </tr>
              </table></td>
            <!--START: freeshippingblock-->
            <td class="price-info" colspan="2">[freeshipping]</td>
            <!--END: freeshippingblock--> 
            <!--START: waitinglist-->
            <td class="item" align="left" colspan="2"><input type="button" value="Put me on the Waiting List" class="btn" onclick="javascript:window.open('notify.asp?catalogid=[catalogid]','popup','height=350,width=540,location=no,' + 'scrollbars=no,menubars=no,toolbars=no,resizable=yes');" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'"></td>
          </tr>
          <!--END: waitinglist--> 
          <!--END: product_availability-->
        </table></td>
    </tr>
    <tr>
      <td colspan="2"><table width="100%" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td valign="top" align="right"><table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td align="center" valign="middle" colspan="2"><table width="98%" border="0" cellpadding="10" cellspacing="0">
                      <tr> 
                        <!--START: product_social-bookmarking-->
                        <td align="left">[product_social-bookmarking]</td>
                        <!--END: product_social-bookmarking--> 
                        <!--START: frame_likebutton-->
                        <td align="right">[frame_likebutton]</td>
                        <!--END: frame_likebutton--> 
                      </tr>
                    </table></td>
                </tr>
              </table></td>
          </tr>
        </table></td>
    </tr>
    <!--START: LOGIN_REQUIRED-->
    <tr>
      <td class="price-info" align="center" colspan="2"><table width="400" cellpadding="5" cellspacing="0">
          <tr>
            <td class="item">[product_login-message]</td>
          </tr>
        </table></td>
    </tr>
    <!--END: LOGIN_REQUIRED--> 
    <!--START: PRODUCT_OPTIONS_BLOCK-->
    <tr>
      <td colspan="2"><img src="assets/templates/common/images/spacer.gif" alt="" width="1" height="10" border="0" /></td>
    </tr>
    <tr>
      <td colspan="2"class="titles">[product_optionheader]</td>
    </tr>
    <tr>
      <td colspan="2" align="center"><div id="divOptionsBlock"> 
          <!--START: divOptionsBlock-->
          <table align="center" cellpadding="0" cellspacing="0" width="100%" class="alternative">
            <tr>
              <td align="center"><table cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="center"><!--START: optionstemplate--> 
                      <!--START: textarea-format--> 
                      [value]: [oprice]<br />
                      <textarea cols="30" rows="5" name="textarea[oname]" class="txtareaStyle"></textarea>
                      <br />
                      <!--END: textarea-format--> 
                      <!--START: text-format--> 
                      [value]: [oprice]<br />
                      <input type="text" size="30" name="text[oname]" class="txtBoxStyle">
                      <br />
                      <!--END: text-format--> 
                      <!--START: qty-format-->
                      <table cellpadding="2" cellspacing="0" border="0" width="100%">
                        <tr>
                          <td class="item"><strong>[value]</strong><br />
                            [oprice]</td>
                          <td align="center" width="120"><input type="text" size="3" name="text[oname]" value="0" class="txtBoxStyle" id="Text5"/></td>
                        </tr>
                      </table>
                      <!--END: qty-format--> 
                      <!--START: file-format--> 
                      [value]: [oprice]<br />
                      <input type="file" name="file[oname]" size="20" class="txtBoxStyle">
                      <br />
                      <!--END: file-format--> 
                      <!--START: title-format--> 
                      [feature] 
                      <!--END: title-format--> 
                      <!--START: checkbox-format-->
                      <input type="checkbox" name="cb[oname]" value="[value]" onclick="validateValues(document.add,1);" [selected]>
                      [feature] [oprice]<br />
                      <!--END: checkbox-format--> 
                      <!--START: radio-format-->
                      <div style="padding: 1px 0px 1px 0px;">
                        <input type="radio" name="[oname]" value="[value]" onclick="validateValues(document.add,1);" [selected]>
                        [feature] [oprice]</div>
                      <!--END: radio-format--> 
                      <!--START: dropdown-format-->
                      <select name="[oname]" onchange="validateValues(document.add,1);" class="txtBoxStyle">
                        <!--START: option-->
                        <option value="[value]" [selected]>[feature] [oprice]</option>
                        <!--END: option-->
                      </select>
                      <!--END: dropdown-format--></td>
                  </tr>
                  <tr>
                    <td align="center"><!--START: dropdownimage-format-->
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td valign="middle"><select name="[oname]" onchange="validateValues(document.add,1);" class="txtBoxStyle">
                              <!--START: option-->
                              <option value="[value]" [selected]>[feature] [oprice]</option>
                              <!--END: option-->
                            </select></td>
                          <td>&nbsp;</td>
                          <td><img name="img_[oname]" src="assets/templates/common/images/spacer.gif"></td>
                        </tr>
                      </table>
                      <!--END: dropdownimage-format--> 
                      <!--END: optionstemplate--></td>
                  </tr>
                  <tr>
                    <td><!--START: options--> 
                      <!--START: opt-title-->
                      <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="options-titles" align="center" valign="top">[OPTIONLABEL]&nbsp;&nbsp;[OPTIONFIELD]</td>
                        </tr>
                        <tr>
                          <td class="borders2"><img src="assets/templates/common/images/spacer.gif" border="0" alt="" width="1" height="1" /></td>
                        </tr>
                      </table>
                      <!--END: opt-title--></td>
                  </tr>
                  <tr>
                    <td valign="middle"><!--START: opt-regular-->
                      <table cellspacing="10" cellpadding="0" border="0">
                        <tr>
                          <td class="item" align="right" colspan="2" width="80" valign="middle"><strong>[OPTIONLABEL]</strong></td>
                          <td align="left" class="item" valign="middle">[OPTIONFIELD]</td>
                          <td valign="middle" class="price-info" align="left"><!--START: help--> 
                            <a href="#" onclick="popup('optionhelp.asp?optionid=[optid]',300,200)"><img src="assets/templates/common/images/help_icon.gif" border="0" alt="help" /></a> 
                            <!--END: help--></td>
                        </tr>
                      </table>
                      <!--END: opt-regular--> 
                      <!--END: options--></td>
                  </tr>
                </table></td>
            </tr>
          </table>
          <!--END: divOptionsBlock--> 
        </div></td>
    </tr>
    <tr>
      <td colspan="2"><img src="assets/templates/common/images/spacer.gif" border="0" alt="" width="1" height="10"></td>
    </tr>
    <!--END: PRODUCT_OPTIONS_BLOCK--> 
    <!--START: quantity-->
    <tr>
      <td colspan="2"><img src="assets/templates/common/images/spacer.gif" alt="" width="1" height="10" border="0" /></td>
    </tr>
    <tr>
      <td colspan="2" class="titles">[product_Header-quantitypricing]</td>
    </tr>
    <tr>
      <td colspan="2"><table cellpadding="0" cellspacing="1" width="100%" border="0">
          <tr>
            <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="alternative" height="30" style="padding-left: 5px;"><span class="item"><strong>[product_quantitypricing-quantity]</strong></span></td>
                </tr>
                <tr>
                  <td class="alternative" height="30" style="padding-left: 5px;"><span class="item"><strong>[product_quantitypricing-price]</strong></span></td>
                </tr>
              </table></td>
            <!--START: quantity_items-->
            <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="alternative" height="30" align="center"><span class="price-info">[lowbound][highbound]</span></td>
                </tr>
                <tr>
                  <td class="alternative" height="30" align="center"><span class="item">[PRICE]</span></td>
                </tr>
              </table></td>
            <!--END: quantity_items--> 
          </tr>
        </table></td>
    </tr>
    <!--END: quantity--> 
    <!--START: MULTIPLESHIPTO-->
    <tr>
      <td colspan="2" class="borders"><img src="assets/templates/common/images/spacer.gif" border="0" alt="" width="1" height="1" /></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><table cellpadding="4" cellspacing="4">
          <tr>
            <td class="item"><strong>[product_multiple-send-to]</strong><br />
              <select name="recipientselect" class="txtBoxStyle">
                <!--beginFixup-->
                <option value="select" selected>[product_multiple-select-name]</option>
                <option value="myself">[product_multiple-myself]</option>
                [shiptolist]
                <option value="selectother">[product_multiple-other]</option>
                <!--endFixup-->
              </select></td>
            <td class="item"><strong>[product_multiple-add-name]</strong><br />
              <input type="text" name="add_name"class="txtBoxStyle"/></td>
            <td><a href="#" onclick="popup('optionhelp.asp?help=multiple',300,200)"><img src="assets/templates/common/images/help_icon.gif" border="0" alt="help" /></a></td>
          </tr>
          <tr>
            <td class="item" colspan="5" align="center">*[product_multiple-note]</td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td colspan="2" class="borders"><img src="assets/templates/common/images/spacer.gif" border="0" alt="" width="1" height="1" /></td>
    </tr>
    <!--END: MULTIPLESHIPTO--> 
    <!--START: RECURRINGORDER-->
    <tr>
      <td colspan="2" align="center"><table width="250px" border="0" align="center" cellpadding="0" cellspacing="0" class="alternative" id="Table3">
          <tr>
            <td align="left" class="item" colspan="2"><div align="center"><strong>[recurringorders_addcart-question]</strong>
                <select name="recurring_frequency" class="txtBoxStyle" id="recurring_frequency">
                  <option value="">[recurringorders_select-frequency]</option>
                  [recurring_frequency]
                  </select>
              </div></td>
          </tr>
          <tr>
            <td class="item" colspan="2"><div align="center">[recurringorders_addcart-bottom-message]</div></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td colspan="2" class="borders"><img src="assets/templates/common/images/spacer.gif" border="0" alt="" width="1" height="1" /></td>
    </tr>
    <!--END: RECURRINGORDER--> 
    <!--START: addtocart-->
    <tr>
      <td colspan="2"><img src="assets/templates/common/images/spacer.gif" border="0" alt="" width="1" height="5" /></td>
    </tr>
    <tr>
      <td colspan="2" height="50" align="center"><table cellpadding="0" cellspacing="0" width="100%" border="0">
          <tr>
            <td align="center"><table border="0" cellpadding="10" class="alternative">
                <tr>
                  <td align="right" class="price-info"><strong>[product_quantity]</strong></td>
                  <td align="center" width="70" class="price-info"><!--START: qtybox-->
                    <input type="text" size="3" name="qty-0" value="1" onchange="validateValues(document.add,1);">
                    <!--END: qtybox--></td>
                  <!--START: reminders_block-->
                  <td align="center" width="70" class="price-info"><strong>[product_reminder]</strong><br />
                    <select name="reminder" class="txtBoxStyle" ID="Select1">
                      <!--START: reminders_frequency_option-->
                      <option value="[optionvalue]" [selected]>[optiontext]</option>
                      <!--END: reminders_frequency_option-->
                    </select></td>
                  <!--END: reminders_block-->
                  <td width="50" align="center" class="item"><input type="button" onclick="check_and_add(document.add);" name="Add" value="[product_addtocart]" class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" />                    
                    <!--START: make_an_offer-->
                    <div style="padding: 2px;">- or -</div>
                    <div id="Div1">
                      <input type="button" onclick="javascript:popup('makeanoffer.asp?action=newOffer&catalogid=[catalogid]',640,410,false);" name="makeonoffer" value="[product_make-an-offer]" class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" />
                    </div>                    
                    <!--END: make_an_offer--></td>
                </tr>
              </table></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td colspan="2"><img src="assets/templates/common/images/spacer.gif" border="0" alt="" width="1" height="5" /></td>
    </tr>
    <tr>
      <td valign="bottom" colspan="2" align="center"><table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td><!--START: addGiftRegistry-->
              
              <table border="0" cellspacing="0" cellpadding="2">
                <tr>
                  <td><img src="assets/templates/common/images/productpage_gift_registry.png" alt="" border="0" /></td>
                  <td><a href="javascript:add_giftregistry();">[product_addtogiftregistry]</a></td>
                </tr>
              </table>
              
              <!--END: addGiftRegistry--></td>
            <td><img src="assets/templates/common/images/spacer.gif" border="0" alt="" width="10" height="1"></td>
            <td><!--START: addWishlist-->
              
              <table border="0" cellspacing="0" cellpadding="2">
                <tr>
                  <td><img src="assets/templates/common/images/productpage_wishlist.png" alt="" border="0" /></td>
                  <td><a href="javascript:add_wishlist();">[product_addtowishlist]</a></td>
                </tr>
              </table>
              
              <!--END: addWishlist--></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td colspan="2"><img src="assets/templates/common/images/spacer.gif" border="0" alt="" width="1" height="10"></td>
    </tr>
    <!--END: addtocart--> 
    <!--START: rewardsPoints-->
    <tr>
      <td colspan="2" align="center"><table border="0" cellpadding="5" cellspacing="0" class="alternative">
          <tr>
            <td class="item"><strong>[product_Header-rewards]</strong></td>
            <td class="item">[product_rewardsDescription]</td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td  colspan="2"><img src="assets/templates/common/images/spacer.gif" border="0" alt="" width="1" height="4"></td>
    </tr>
    <!--END: rewardsPoints--> 
    <!--START: extrafields-->
    <tr>
      <td colspan="2"><table width="100%" cellpadding="2" cellspacing="0">
          <!--START: extra_field_1-->
          <tr>
            <td><div class="item"><strong>[product_extrafield1]</strong> [extra_field_1]</div></td>
          </tr>
          <!--END: extra_field_1--> 
          <!--START: extra_field_2-->
          <tr>
            <td><div class="item"><strong>[product_extrafield2]</strong> [extra_field_2]</div></td>
          </tr>
          <!--END: extra_field_2--> 
          <!--START: extra_field_3-->
          <tr>
            <td><div class="item"><strong>[product_extrafield3]</strong> [extra_field_3]</div></td>
          </tr>
          <!--END: extra_field_3--> 
          <!--START: extra_field_4-->
          <tr>
            <td><div class="item"><strong>[product_extrafield4]</strong> [extra_field_4]</div></td>
          </tr>
          <!--END: extra_field_4--> 
          <!--START: extra_field_5-->
          <tr>
            <td><div class="item"><strong>[product_extrafield5]</strong> [extra_field_5]</div></td>
          </tr>
          <!--END: extra_field_5-->
        </table></td>
    </tr>
    <!--END: extrafields-->
    <tr>
      <td align="center" colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><!--START: Tabs-->              
              <ul id="tablist">
                <!--START: extended_description-->
                <li><a href="javascript:void(0)" onclick="expandcontent('sc1', this)">[product_Header-description]</a></li>
                <!--END: extended_description--> 
                <!--START: PRODUCT_FEATURES_BLOCK-->
                <li><a href="javascript:void(0)" onclick="expandcontent('sc10', this)">Product Features</a></li>
                <!--END: PRODUCT_FEATURES_BLOCK-->
                <!--START: related_0-->
                <li><a href="javascript:void(0)" onclick="expandcontent('sc8', this)">[product_Header-relateditems]</a></li>
                <!--END: related_0--> 
                <!--START: reviews-->
                <li><a href="javascript:void(0)" onclick="expandcontent('sc4', this)">[reviews_header]</a></li>
                <!--END: reviews--> 
                <!--START: extra_field_6-->
                <li><a href="javascript:void(0)" onclick="expandcontent('sc2', this)">[product_extrafield6]</a></li>
                <!--END: extra_field_6--> 
                <!--START: extra_field_7-->
                <li><a href="javascript:void(0)" onclick="expandcontent('sc3', this)">[product_extrafield7]</a></li>
                <!--END: extra_field_7--> 
                <!--START: extra_field_8-->
                <li><a href="javascript:void(0)" onclick="expandcontent('sc5', this)">[product_extrafield8]</a></li>
                <!--END: extra_field_8--> 
                <!--START: extra_field_9-->
                <li><a href="javascript:void(0)" onclick="expandcontent('sc6', this)">[product_extrafield9]</a></li>
                <!--END: extra_field_9--> 
                <!--START: extra_field_10-->
                <li><a href="javascript:void(0)" onclick="expandcontent('sc7', this)">[product_extrafield10]</a></li>
                <!--END: extra_field_10-->
              </ul>
              <div id="tabcontentcontainer">
                <div id="sc1" class="tabcontent">
                  <div class="font1">
                    <div align="left">[extended_description]</div>
                  </div>
                </div>
                <div id="sc10" class="tabcontent">
                  <div class="font1">
                    <div align="left"> 
                      <!--START: PRODUCT_FEATURES-->
                      <li>[product_feature_name]</li>
                      <!--END: PRODUCT_FEATURES--> 
                    </div>
                  </div>
                </div>
                <div id="sc8" class="tabcontent">
                  <div class="font1">
                    <div align="left">
                      <table width="100%" border="0" cellpadding="2" cellspacing="0">
                        <tr>
                          <td><table cellpadding="2" cellspacing="0" width="97%">
                              <!--START: related_items0-->
                                <table cellspacing="0" cellpadding="5" border="0" width="99%" class="alternative">
                                  <tr>
                                    <td align="center" height="150"><div style="overflow: hidden; height: 150px;"><a href="product.asp?itemid=[catalogid]"><img src="thumbnail.asp?file=[THUMBNAIL]&amp;maxx=150&amp;maxy=0" alt="[name]" border="0"></a></div></td>
                                  </tr>
                                  <tr>
                                    <td class="item" align="center" height="30"><a href="product.asp?itemid=[catalogid]">[name]</a></td>
                                  </tr>
                                  <!--START: product_review-->
                                  <tr>
                                    <td class="price-info" colspan="2" align="center"><!--START: product_review_average-->
                                      
                                      <table border="0" cellspacing="0" cellpadding="1">
                                        <tr>
                                          <td><img src="assets/templates/common/images/star[review_average].png" alt="Average Rating" border="0"></td>
                                          <td class="item">[review_count]&nbsp;Review(s)</td>
                                        </tr>
                                      </table>              
                                      <!--END: product_review_average--></td>
                                  </tr>
                                  <!--END: product_review-->
                                  <tr>
                                    <td class="price2" valign="top" align="center"><!--START: ITEMPRICE-->[product_yourprice]&nbsp;[ITEMPRICE] 
                                      <!--END: ITEMPRICE--> 
                                      <!--START: SALEPRICE-->              
                                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                          <td colspan="2" align="center" class="item" nowrap="nowrap"><s>[product_yourprice]&nbsp;[ITEMPRICE]</s></td>
                                        </tr>
                                        <tr>
                                          <td colspan="2" align="center" class="item" nowrap="nowrap"><table border="0" cellspacing="0" cellpadding="2">
                                        <tr>
                                          <td nowrap="nowrap" class="price2">[product_onsale]:&nbsp;[ITEMSALEPRICE]</td>
                                          <td align="right"><img src="assets/templates/common/images/on_sale.png" alt="On Sale" hspace="5" border="0"></td>
                                        </tr>
                                          </table></td>
                                        </tr>
                                      </table>              
                                      <!--END: SALEPRICE--></td>
                                  </tr>
                                  <tr>
                                    <td class="item" align="center" valign="middle"><input  type="button" value="[category_buyitlink]" onclick="window.location='add_cart.asp?quick=1&amp;item_id=[catalogid]'" class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" /></td>
                                  </tr>
                                </table>
                              <!--END: related_items0--> 
                              <!--START: related_items1-->
                              <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                  <td height="160" align="center" valign="middle"><a href="product.asp?itemid=[catalogid]"><img src="thumbnail.asp?file=[THUMBNAIL]&amp;maxx=0&amp;maxy=150" alt="[name]" border="0" /></a></td>
                                </tr>
                                <tr valign="middle">
                                  <td height="60" class="item" align="center">[name]</td>
                                </tr>
                                <tr>
                                  <td class="price" align="center" valign="middle"><!--START: ITEMPRICE--> 
                                    [ITEMPRICE] 
                                    <!--END: ITEMPRICE--> 
                                    <!--START: SALEPRICE--> 
                                    <s>[ITEMPRICE]</s><br />
                                    [ITEMSALEPRICE] 
                                    <!--END: SALEPRICE--></td>
                                </tr>
                                <tr>
                                  <td class="item" align="center" valign="middle"><input type="checkbox" name="item_id" value="[catalogid]">
                                    <input type="hidden" name="qty-[counter]" value="1"></td>
                                </tr>
                              </table>
                              <!--END: related_items1--> 
                              <!--START: related_items2-->
                              <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                  <td class="item" align="left" width="50%"><a href="product.asp?itemid=[catalogid]">[name]</a></td>
                                  <td class="price" align="center" valign="middle" width="20%"><!--START: ITEMPRICE--> 
                                    [ITEMPRICE] 
                                    <!--END: ITEMPRICE--> 
                                    <!--START: SALEPRICE--> 
                                    <s>[ITEMPRICE]</s><br />
                                    [ITEMSALEPRICE] 
                                    <!--END: SALEPRICE--></td>
                                  <td class="item" align="center" valign="middle" width="30%">&nbsp;&nbsp;
                                    <input type="hidden" name="item_id" value="[catalogid]">
                                    <input type="text" size="2" name="qty-[counter]" value="0"></td>
                                </tr>
                              </table>
                              <!--END: related_items2-->
                            </table></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div id="sc4" class="tabcontent">
                  <div class="font1">
                    <div align="left">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td colspan="2"><table width="100%" cellpadding="5" cellspacing="0" border="0">
                              <!--START: user_reviews-->
                              <tr>
                                <td><table width="100%" border="0" cellpadding="4" cellspacing="0">
                                    <tr>
                                      <td align="center" width="50" class="checkout-headers"><img src="assets/templates/common/images/star[rating].png" alt="Rating" /></td>
                                      <td class="checkout-headers"><strong>[short_review]</strong></td>
                                    </tr>
                                    <tr>
                                      <td>&nbsp;</td>
                                      <td class="item">[long_review]</td>
                                    </tr>
                                    <tr>
                                      <td>&nbsp;</td>
                                      <td class="item"><em>Reviewed by: &nbsp;[user_name] from [user_city]. 
                                        <!--START: user_email--> 
                                        <a href="mailto:[user_email]">[user_email]</a> 
                                        <!--END: user_email--> 
                                        on [review_date]</em></td>
                                    </tr>
                                  </table></td>
                              </tr>
                              <tr>
                                <td class="borders" colspan="4"><img src="assets/templates/common/images/spacer.gif" border="0" alt="" width="1" height="1" /></td>
                              </tr>
                              <!--END: user_reviews-->
                            </table></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div id="sc2" class="tabcontent">
                  <div class="font1">
                    <div align="left"> [extra_field_6] </div>
                  </div>
                </div>
                <div id="sc3" class="tabcontent">
                  <div class="font1">
                    <div align="left"> [extra_field_7] </div>
                  </div>
                </div>
                <div id="sc5" class="tabcontent">
                  <div class="font1">
                    <div align="left"> [extra_field_8] </div>
                  </div>
                </div>
                <div id="sc6" class="tabcontent">
                  <div class="font1">
                    <div align="left"> [extra_field_9] </div>
                  </div>
                </div>
                <div id="sc7" class="tabcontent">
                  <div class="font1">
                    <div align="left"> [extra_field_10] </div>
                  </div>
                </div>
              </div>              
              <!--END: Tabs--></td>
          </tr>
        </table></td>
    </tr>
    <!--START: realmedia-->
    <tr>
      <td colspan="2"><img src="assets/templates/common/images/spacer.gif" alt="" width="1" height="10" border="0" /></td>
    </tr>
    <tr>
      <td class="titles" colspan="2">[product_Header-video]</td>
    </tr>
    <tr>
      <td class="item" colspan="2" align="center"><table width="100%" border="0" cellpadding="5" cellspacing="0" class="alternative">
          <tr>
            <td class="item"><div style="text-align: center; margin: auto;">
                <object type="application/x-shockwave-flash" style="width:450px; height:366px;" data="[realmedia]" wmode="transparent" ID="Shockwaveflash1">
                  <param name="movie" value="[realmedia]" />
                  <param name="wmode" value="transparent" />
                </object>
                <div style="font-size: 0.8em"></div>
              </div></td>
          </tr>
        </table></td>
    </tr>
    <!--END: realmedia--> 
    <tr>
      <td colspan="2"><img src="assets/templates/common/images/spacer.gif" alt="" width="1" height="5" border="0" /></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><!--START: accessories_0-->        
        <table width="100%" border="0" cellpadding="2" cellspacing="0">
          <tr>
            <td class="titles">[product_Header-accessories]</td>
          </tr>
          <tr>
            <td><table width="97%" cellpadding="2" cellspacing="0">
                <!--START: accessories_items0-->
                <table width="99%" cellspacing="0" cellpadding="5" border="0" class="alternative">
                  <tr>
                    <td align="center" height="150"><div style="overflow: hidden; height: 150px;"><a href="product.asp?itemid=[catalogid]"><img src="thumbnail.asp?file=[THUMBNAIL]&amp;maxx=150&amp;maxy=0" alt="[name]" border="0"></a></div></td>
                  </tr>
                  <tr>
                    <td class="item" align="center" height="30"><a href="product.asp?itemid=[catalogid]">[name]</a></td>
                  </tr>
                  <!--START: product_review-->
                  <tr>
                    <td class="price-info" colspan="2" align="center"><!--START: product_review_average-->
                      
                      <table border="0" cellspacing="0" cellpadding="1">
                        <tr>
                          <td><img src="assets/templates/common/images/star[review_average].png" alt="Average Rating" border="0"></td>
                          <td class="item">[review_count]&nbsp;Review(s)</td>
                        </tr>
                      </table>              
                      <!--END: product_review_average--></td>
                  </tr>
                  <!--END: product_review-->
                  <tr>
                    <td class="price2" valign="top" align="center"><!--START: ITEMPRICE-->[product_yourprice]&nbsp;[ITEMPRICE] 
                      <!--END: ITEMPRICE--> 
                      <!--START: SALEPRICE-->              
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td colspan="2" align="center" class="item" nowrap="nowrap"><s>[product_yourprice]&nbsp;[ITEMPRICE]</s></td>
                        </tr>
                        <tr>
                          <td colspan="2" align="center" class="item" nowrap="nowrap"><table border="0" cellspacing="0" cellpadding="2">
                        <tr>
                          <td nowrap="nowrap" class="price2">[product_onsale]:&nbsp;[ITEMSALEPRICE]</td>
                          <td align="right"><img src="assets/templates/common/images/on_sale.png" alt="On Sale" hspace="5" border="0"></td>
                        </tr>
                          </table></td>
                        </tr>
                      </table>              
                      <!--END: SALEPRICE--></td>
                  </tr>
                  <tr>
                    <td class="item" align="center" valign="middle"><input  type="button" value="[category_buyitlink]" onclick="window.location='add_cart.asp?quick=1&amp;item_id=[catalogid]'" class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" /></td>
                  </tr>
                </table>
                <!--END: accessories_items0--> 
                <!--START: accessories_items1-->
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="150" align="center" valign="middle"><a href="product.asp?itemid=[catalogid]"><img src="thumbnail.asp?file=[THUMBNAIL]&amp;maxx=0&amp;maxy=150" alt="[name]" border="0" /></a></td>
                  </tr>
                  <tr valign="middle">
                    <td height="60" class="item" align="center">[name]</td>
                  </tr>
                  <tr>
                    <td class="price" align="center" valign="middle"><!--START: ITEMPRICE--> 
                      [ITEMPRICE] 
                      <!--END: ITEMPRICE--> 
                      <!--START: SALEPRICE--> 
                      <s>[ITEMPRICE]</s><br />
                      [ITEMSALEPRICE] 
                      <!--END: SALEPRICE--></td>
                  </tr>
                  <tr>
                    <td class="item" align="center" valign="middle"><input type="checkbox" name="item_id" value="[catalogid]">
                      <input type="hidden" name="qty-[counter]" value="1"></td>
                  </tr>
                </table>
                <!--END: accessories_items1--> 
                <!--START: accessories_items2-->
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="item" align="left" width="50%"><a href="product.asp?itemid=[catalogid]">[name]</a></td>
                    <td class="price" align="center" valign="middle" width="20%"><!--START: ITEMPRICE--> 
                      [ITEMPRICE] 
                      <!--END: ITEMPRICE--> 
                      <!--START: SALEPRICE--> 
                      <s>[ITEMPRICE]</s><br />
                      [ITEMSALEPRICE] 
                      <!--END: SALEPRICE--></td>
                    <td class="item" align="center" valign="middle" width="30%">&nbsp;&nbsp;
                      <input type="hidden" name="item_id" value="[catalogid]">
                      <input type="text" size="2" name="qty-[counter]" value="0"></td>
                  </tr>
                </table>
                <!--END: accessories_items2-->
              </table></td>
          </tr>
        </table>        
        <!--END: accessories_0--></td>
    </tr>
    <tr>
      <td colspan="2"><img src="assets/templates/common/images/spacer.gif" alt="" width="1" height="5" border="0" /></td>
    </tr>
    <!--START: browsing_history-->
    <tr>
      <td colspan="2" class="alternative"><table width="100%" border="0" cellpadding="3" cellspacing="0">
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="50%" align="left" class="checkout-headers">[product_browsing-history-header]</td>
                  <td width="50%" align="right"><input type="button" onclick="window.location.href='product.asp?itemid=[catalogid]&delhist=0';" name="" value="<!--START: browsing_history_enable-->[product_browsing-history-disable]<!--END: browsing_history_enable-->" class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'"></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td><table cellpadding="2" cellspacing="0" width="97%">
                <!--START: browsing_history_items-->
                <table border="0" cellspacing="0" cellpadding="5" width="99%">
                  <tr>
                    <td height="150" align="center" class="alternative"><a href="product.asp?itemid=[catalogid]"><img src="thumbnail.asp?file=[THUMBNAIL]&amp;maxx=150&amp;maxy=150" alt="[name]" border="0"></a></td>
                  </tr>
                  <tr>
                    <td align="center"><a href="product.asp?itemid=[catalogid]">[name]</a></td>
                  </tr>
                  <tr>
                    <td align="center"><!--START: ITEMPRICE--><span class="price">[ITEMPRICE]</span><!--END: ITEMPRICE--> <!--START: SALEPRICE--><s>[ITEMPRICE]</s><span class="price">[ITEMSALEPRICE]</span><!--END: SALEPRICE--></td>
                  </tr>
                  <tr>
                    <td align="center"><input type="button" onclick="window.location.href='product.asp?itemid=[item_id]&delhist=[catalogid]';" name="" value="Clear" class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'"></td>
                  </tr>
                </table>
                <!--END: browsing_history_items-->
              </table></td>
          </tr>
        </table></td>
    </tr>
    <!--END: browsing_history--> 
    <!--START: BREADCRUMBS-->
    <tr>
      <td class="item" colspan="2"><img src="assets/templates/common/images/spacer.gif" border="0" alt="" width="1" height="10"></td>
    </tr>
    <tr>
      <td align="center" colspan="2"><table width="100%" cellpadding="3" cellspacing="0">
          <tr>
            <td class="titles">[product_Header-breadcrumbs]</td>
          </tr>
          <tr>
            <td colspan="2" class="item"><!--START: CATEGORY_BREADCRUMBS--> 
              [CATEGORY_BREADCRUMBS]<br />
              
              <!--END: CATEGORY_BREADCRUMBS--> 
              <br /></td>
          </tr>
        </table></td>
    </tr>
    <!--END: BREADCRUMBS--> 
    <!--START: CATEGORY_FOOTER-->
    <tr>
      <td colspan="2" class="data">[CONTENT]</td>
    </tr>
    <!--END: CATEGORY_FOOTER-->
  </table>
</form>
<script type="text/javascript"><!--
//thumbnail script
var image1,image2,image3,image4,selectedimage;
var imagemaxwidth, imagemaxheight

imagemaxwidth=[image_medium_w];
imagemaxheight=0;

image1="[image1]";
image2="[image2]";
image3="[image3]";
image4="[image4]";
imagecaption1="[imagecaption1]";
imagecaption2="[imagecaption2]";
imagecaption3="[imagecaption3]";
imagecaption4="[imagecaption4]";
selectedimage='[image1]'; //pre load image1
zoom_enable=[3dzoom_enabled]; //0 = zoomify | 1 = magiczoom

function image_click(clicks)
{
    if (document.getElementById('listing_main_image_link')!=undefined)
    {
	if (zoom_enable==1)
	{
		selectedimage=eval('image'+clicks);
		MagicZoomPlus.update('listing_main_image_link', selectedimage, 'thumbnail.asp?file=' + selectedimage + '&maxx='+imagemaxwidth+'&maxy='+imagemaxheight, 'show-title: false');
		changecontent("imagecaptiont",eval('imagecaption'+clicks));
		document.getElementById('listing_main_image_link').href=this.name;
	}else
	{
		
		selectedimage=eval('image'+clicks);
		document.getElementById('large').src='thumbnail.asp?file=' + selectedimage + '&maxx='+imagemaxwidth+'&maxy='+imagemaxheight;
		document.getElementById('listing_main_image_link').href='#';
		document.getElementById('listing_main_image_link').onclick=zoomify_popup;
		changecontent("imagecaptiont",eval('imagecaption'+clicks));
	}}
}
function zoomify_popup()
{
popupsimple('zoomify.asp?catalogid=[catalogid]&img=' + selectedimage ,500,500);
}

function check_stock(what,partnum)
{
	var soption;
	var i;
	var product_availability='[availability]';
	var backordermode='[allowbackorder]';
	var avail_instock='[productAvailability-Instock]';
	var avail_outofstock='[productAvailability-Outofstock]';
	var avail_backorder='[productAvailability-Backorder]';
	var optionfound=0;

	if (inventoryarray[catalogid].length==0) //if there is no advanced options, don't look for stock
	{
		return true;
	}
	else
	{
		for(i=0;i<inventoryarray[catalogid].length;i++) 
		{
			soption=inventoryarray[catalogid][i];
			field_array=soption.split("-");
			//Dynamic Part for advanced options
			if (typeof((idarray[catalogid])) != "undefined")
			{
				soptionid=idarray[catalogid][i]; 
				aoprice=aopricearray[catalogid][i]; 
				if (field_array[0]==partnum)
				{
					if (soptionid != '')
						changeid(soptionid); 
					if (aoprice != '0')
						changeprice(aoprice);
				}
			}
			
			if ((field_array[0]==partnum))
			{	
				changecontent("product_inventory",field_array[1]);
				if (eval(GetValue(what,"qty-0"))>field_array[1]) 
				{
					optionfound=optionfound+1;
					if (backordermode==1)
					{
						changecontent("availability",avail_backorder); 
						return true;
						optionfound=optionfound+1;
					}
					else 
					{
						changecontent("availability",avail_outofstock);
						alert("The options you selected are not currently available.");
						optionfound=optionfound+2;
						return false;
					}
				}

			}
		}

		if (optionfound==0)
		{ 
			changecontent("availability",product_availability);
			return true;
		}
		
		if (optionfound==1)
		{
			changecontent("availability",avail_instock);
			return true;
		}
	}
}


function add_wishlist()
{
	document.add.action = "add_cart.asp?action=addWishList";
	document.add.submit();
}

function add_giftregistry()
{
	document.add.action = "add_cart.asp?action=addGiftRegistry";
	document.add.submit();
}

function check_and_add(formx)
{

	if (document.add.std_price==null)
	{
		document.add.submit();
	}
	else
	{
		var readytoadd=validateValues(formx,1)
		if (readytoadd==true)
		{
			document.add.submit();
		}
	}
}

// --></script> 
<script type="text/javascript">
var currency_symbol='[currency]';
var prod_decimal_places='[prod_decimal_places]';
validateValues(document.add,1);
window.setTimeout("image_click(1)", 1000);
</script> 
<script type="text/javascript">
	function selectOption(objElement) {

		var strElementName = "";
		var strElementType = "";
		var intHasRules = "[has_rules]";
		objElement = null;

		if (intHasRules == "0" || intHasRules == "[has_rules]") {
			return;
		}
		//var arrOpt = strOptId.split(":::");
		//if (arrOpt[1].toString().length <= 0 || strOptRules.indexOf(","+arrOpt[1]+",") < 0) return;

		add_overlay("divOptionsBlock", 1);

		var url = 'prod_options.asp?ajax=1&action=buildOptions&strElementType=' + escape(strElementType) + '&strElementName=' + escape(strElementName) + '&no-cache=' + Math.random();
		var ajax = new Ajax.Updater(
		{ success: 'divOptionsBlock' },
		url,
		{ method: 'post', evalScripts: true, parameters: document.add.serialize(), onComplete: afterOptionSelection, onFailure: reportError });
	}

	function afterOptionSelection(req) {
		remove_overlay("divOptionsBlock");
		return;
	}

	function getElementById_s(strId) {
		var obj = null;
		if (document.getElementById) {
			obj = get_Element(strId);
		} else if (document.all) {
			obj = document.all[strId];
		}
		return obj;
	}

	function remove_overlay(panel) {
		var objBody = getElementById_s('overlay_' + panel);
		if (objBody != null && objBody != 'null' && objBody != undefined && objBody != 'undefined')
			objBody.style.display = 'none';
	}

	function add_overlay(panel, loading) {
		var objBody = getElementById_s(panel);
		var objOverlay = document.createElement("div");

		objOverlay.setAttribute('id', 'overlay_' + panel);
		objOverlay.className = 'overlay';
		objOverlay.style.position = 'absolute';
		objOverlay.style.textAlign = 'center';
		objOverlay.style.width = objBody.clientWidth + "px";
		objOverlay.style.height = objBody.clientHeight + "px";
		//alert(objOverlay.style.height);
		objBody.insertBefore(objOverlay, objBody.firstChild);
		objOverlay.style.display = 'block';

		if (loading == 1) {
			get_Element('overlay_' + panel).innerHTML = '<table border=0 width=100% height=100%><tr><td style="text-align: center;"><img src="assets/templates/common/images/loading.gif"></td></tr></table>';
		}
		else {
			get_Element('overlay_' + panel).innerHTML = '<table border=0 width=100% height=100%><tr><td align="center"></td></tr></table>';
		}
	}

	function get_Element(i) {
		return document.getElementById(i) || document.getElementsByName(i).item(0);
	}

	function reportError(request) {
		remove_overlay("divOptionsBlock");

		//request.responseText
		alert("Error processing request " + request.responseText);
	}

	selectOption(null);
</script>