
<table width="95%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td><table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td class="page_headers" valign="top">[store_name] - [productindex_title]</td>
				</tr>
			</table></td>
	</tr>
	<tr>
		<td height="10" colspan="6"><img src="assets/images/spacer.gif" height="10"></td>
	</tr>
	<tr>
		<td valign="top"><table width="100%" cellspacing="0" cellpadding="2" border="0">
				<tr>
					<td class="data">[productindex_pages]: [paging]</td>
				</tr>
			</table></td>
	</tr>
	<tr>
		<td height="10" colspan="6"><img src="assets/images/spacer.gif" height="10"></td>
	</tr>
	<tr>
		<td>
            <table width="100%" border="0" cellpadding="2" cellspacing="2">
                <!--START: items-->
                <tr>
                    <td align="left"><a href="product.asp?itemid=[catalogid]">[name]</a></td>
                </tr>
                <!--END: items-->
            </table>
        </td>
	</tr>
	<tr>
		<td height="10" colspan="6"><img src="assets/images/spacer.gif" height="10"></td>
	</tr>
	<tr>
		<td valign="top"><table width="100%" cellspacing="0" cellpadding="2" border="0">
				<tr>
					<td class="data">[productindex_pages]: [paging]</td>
				</tr>
			</table></td>
	</tr>
</table>
