<script type="text/javascript" src="state_countryjs.asp"></script>

<form action="checkout2.asp?step=2" method="post" name="checkoutform">
    <table width="95%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="page_headers">
                Checkout</td>
            <td align="right" class="steps">
                <span class="steps_on">[checkout1_step]</span>[checkout2_step] [checkout3_step]
                [checkout4_step]</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;
                </td>
        </tr>
        <tr>
            <td colspan="2">
                <!--START: CATEGORY_HEADER-->
                <table width="100%" cellspacing="0" cellpadding="2" border="0">
                    <tr>
                        <td class="data">
                            [CONTENT]<br /><br /></td>
                    </tr>
                </table>
                <!--END: CATEGORY_HEADER-->
            </td>
        </tr>
               <!--START: paypalexpress-->
        <tr>
            <td colspan="2">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="39">
                            <a href="paypal_express.asp?ch=1">
                                <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" border="0" align="left"
                                    style="margin-right: 7px;"></a></td>
                        <td width="383" valign="top">
                            <span style="font-size: 11px; font-family: Arial, Verdana;">Save time. Checkout securely.
                                Pay without sharing your financial information.</span></td>
                    </tr>
                </table>
            </td>
        </tr>
        <!--END: paypalexpress-->
        <!--START: GOOGLECHECKOUT-->
        <tr>
            <td colspan="2">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <a href="google_checkout.asp">
                                <img name="Google Checkout" alt="Google Checkout" src="https://checkout.google.com/buttons/checkout.gif?merchant_id=[gc_merchantid]&w=180&h=46&style=white&variant=text&loc=en_US"
                                    height="46" width="180" border="0"></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!--END: GOOGLECHECKOUT-->
        <tr>
            <td colspan="2">
                <table width="100%" cellpadding="2" cellspacing="0">
                    <tr>
                        <!--column left-->
                        <td valign="top" width="50%">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <!--START: account_login-->
                                <!--start current customer block-->
                                <tr>
                                    <td class="checkout-headers" align="left" colspan="2">
                                        [checkout1_loginmessage]</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <table width="100%" cellpadding="4" cellspacing="0" class="alternative">
                                            <tr>
                                                <td class="item" height="40">
                                                    [checkout1_loginmessage2]</td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <input type="button" value="[checkout1_login]" name="B3" onclick="document.location='checkout.asp?step=log-in';"
                                                        class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'">
                                                </td>
                                            </tr>
                                        </table>
                                        <br />
                                    </td>
                                </tr>
                                <!-- end current customer block-->
                                <!--start create account block-->
                                <tr>
                                    <td colspan="2">
                                    <tr>
                                        <td class="checkout-headers" colspan="2">
                                            [checkout1_Header-createnewaccount]</td>
                                    </tr>
                                <tr>
                                    <td colspan="2">
                                        <table width="100%" cellpadding="2" cellspacing="0" class="alternative">
                                            <tr class="item">
                                                <td width="34%" align="right" class="item">
                                                    <strong>[CustomerInfo_email]:</strong>
                                                </td>
                                                <td width="66%">
                                                    <input type="text" size="25" name="email" value="[email]" class="txtBoxStyle">
                                                    <!--START: emailrequired-->
                                                    <!--START: req_email-->
                                                    <img src="assets/templates/common/images/error2.gif" width="12" height="12"><!--END: req_email-->
                                                    <!--END: emailrequired-->
                                                </td>
                                            </tr>
                                            <tr class="item">
                                                <td align="right" class="item">
                                                    <strong>[CustomerInfo_password]: </strong>
                                                </td>
                                                <td>
                                                    <input type="password" size="12" name="pass" class="txtBoxStyle">
                                                    <!--START: passwordrequired-->
                                                    <!--START: req_pass-->
                                                    <img src="assets/templates/common/images/error2.gif" width="12" height="12"><!--END: req_pass-->
                                                    <!--END: passwordrequired-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right">
                                                    <input type="checkbox" value="1" name="maillist" [maillist]></td>
                                                <td class="item">
                                                    [checkout1_joinmailinglist]</td>
                                            </tr>
                                        </table>
                                        <br />
                                    </td>
                                </tr>
                                <!--end create account block-->
                                <!--END: account_login-->
                                
                                
                                
                                
                                <!--START: GIFT_REGISTRY_SHIPPING-->
                                <tr>
                                    <td class="checkout-headers" colspan="2">[checkout1_Header-giftreg]</td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="left">
                                        <table width="100%" cellpadding="3" cellspacing="0" class="alternative" ID="Table1">
                                            <tr>
                                                <td colspan="2" class="item">[checkout1_Header-giftreg-instructions]</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="item">
													<input type="button" id="cmdRegShip" onclick="javascript:selectRegAddress();" name="cmdRegShip" value="Select Registry Address" class="btn">
												</td>
                                            </tr>
                                            <!--tr>
                                                <td width="41%" align="right" class="item">
                                                    <strong>[checkout1_Header-giftreg-shiptofriendaddress]</strong></td>
                                                <td><input type="radio" id="chkGiftRegistryShipping" value="friend" name="chkGiftRegistryShipping" checked></td>
                                            </tr>                                        
                                            <tr>
                                                <td width="41%" align="right" class="item">
                                                    <strong>[checkout1_Header-giftreg-shiptomyaddress]</strong></td>
                                                <td><input type="radio" id="chkGiftRegistryShipping" value="my" name="chkGiftRegistryShipping"></td>
                                            </tr-->
                                        </table>
                                        <br />
                                    </td>
                                </tr>
                                <!--END: GIFT_REGISTRY_SHIPPING-->
                                
                                
                                
                                
                                <tr>
                                    <td class="checkout-headers" colspan="2">
                                        [checkout1_Header-shippinginformation]</td>

                                </tr>
                                <tr>
                                    <td colspan="2" class="error">
                                        <!--START: required_fields-->
                                        <img src="assets/templates/common/images/error.gif">&nbsp;<b>ERROR: PLEASE CHECK THE
                                            REQUIRED FIELDS BELOW!</b>
                                        <!--END: required_fields-->
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="left">
                                        <table width="100%" cellpadding="3" cellspacing="0" class="alternative">
                                            <!--START: SAVE_ADDRESSES-->
                                            <tr>
                                                <td width="31%" align="right" class="item">
                                                    <strong>[checkout1_address-book]</strong></td>
                                                <td>
                                                    <select type="dropdown" name="save_address" onchange="javascript:filladdress(this);" id="save_address" class="txtBoxStyle">
                                                        [address_list]
                                                    </select>
                                                </td>
                                            </tr>
                                            <!--END: SAVE_ADDRESSES-->
                                            <tr>
                                                <td width="31%" align="right" class="item">
                                                    <b>[CustomerInfo_firstname]</b></td>
                                                <td width="59%">
                                                    <input name="shipping_firstname" type="text" id="shipping_firstname" value="[shipping_firstname]"
                                                        size="15" class="txtBoxStyle">
                                                    <!--START: req_shipping_firstname-->
                                                    <img src="assets/templates/common/images/error2.gif" width="12" height="12"><!--END: req_shipping_firstname-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right" class="item">
                                                    <b>[CustomerInfo_lastname]</b></td>
                                                <td>
                                                    <input name="shipping_lastname" type="text" id="shipping_lastname" value="[shipping_lastname]"
                                                        size="15" class="txtBoxStyle">
                                                    <!--START: req_shipping_lastname-->
                                                    <img src="assets/templates/common/images/error2.gif" width="12" height="12"><!--END: req_shipping_lastname-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right" class="item">
                                                    <b>[CustomerInfo_company]</b></td>
                                                <td>
                                                    <input name="shipping_company" type="text" id="shipping_company" value="[shipping_company]"
                                                        size="25" class="txtBoxStyle">
                                                    <!--START: req_shipping_company-->
                                                    <img src="assets/templates/common/images/error2.gif" width="12" height="12"><!--END: req_shipping_company--></td>
                                            </tr>
                                            <tr>
                                                <td align="right" class="item">
                                                    <b>[CustomerInfo_phone]</b></td>
                                                <td>
                                                    <input name="shipping_phone" type="text" id="shipping_phone" value="[shipping_phone]"
                                                        size="25" class="txtBoxStyle">
                                                    <!--START: req_shipping_phone-->
                                                    <img src="assets/templates/common/images/error2.gif" width="12" height="12"><!--END: req_shipping_phone--></td>
                                            </tr>
                                            <tr>
                                                <td align="right" class="item">
                                                    <b>[CustomerInfo_address]</b></td>
                                                <td>
                                                    <input name="shipping_address" type="text" id="shipping_address" value="[shipping_address]"
                                                        size="25" class="txtBoxStyle">
                                                    <!--START: req_shipping_address-->
                                                    <img src="assets/templates/common/images/error2.gif" width="12" height="12"><!--END: req_shipping_address--></td>
                                            </tr>
                                            <tr>
                                                <td align="right" class="item">
                                                    <b>[CustomerInfo_address2]</b></td>
                                                <td>
                                                    <input name="shipping_address2" type="text" id="shipping_address2" value="[shipping_address2]"
                                                        size="25" class="txtBoxStyle"></td>
                                            </tr>
                                            <tr>
                                                <td align="right" class="item">
                                                    <b>[CustomerInfo_city]</b></td>
                                                <td>
                                                    <input name="shipping_city" type="text" id="shipping_city" value="[shipping_city]"
                                                        size="25" class="txtBoxStyle">
                                                    <!--START: req_shipping_city-->
                                                    <img src="assets/templates/common/images/error2.gif" width="12" height="12"><!--END: req_shipping_city--></td>
                                            </tr>
                                            <tr>
                                                <td align="right" class="item">
                                                    <b>[CustomerInfo_country]</b></td>
                                                <td>
                                                    <select name="shipping_country" onchange="document.checkoutform.action='checkout2.asp?step=2&return=1';document.checkoutform.submit();"
                                                        class="txtBoxStyle">
                                                        <!--START: req_shipping_country-->
                                                        *<!--END: req_shipping_country-->
                                                        [CountryDropDown]
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right" class="item">
                                                    <b>[CustomerInfo_state]</b></td>
                                                <td>
                                                    [state]
                                                    <!--START: req_shipping_state-->
                                                    <img src="assets/templates/common/images/error2.gif" width="12" height="12"><!--END: req_shipping_state-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right" class="item">
                                                    <b>[CustomerInfo_zip]</b></td>
                                                <td>
                                                    <input name="shipping_zip" type="text" id="shipping_zip" value="[shipping_zip]" size="10"
                                                        class="txtBoxStyle">
                                                    <!--START: req_shipping_zip-->
                                                    <img src="assets/templates/common/images/error2.gif" width="12" height="12"><!--END: req_shipping_zip-->
                                                </td>
                                            </tr>
                                        </table>
                                          <br />
                                    </td>
                                </tr>
                                <!--START: checkout_questions-->
                                <tr>
                                    <td class="checkout-headers" colspan="2">
                                        [checkout1_checkoutquestions]</td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="left">
                                        <table width="100%" cellpadding="2" cellspacing="0" class="alternative">
                                            <tr>
                                                <td>
                                                    <!--START: questions-->
                                                    [questions]
                                                    <!--END: questions-->
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!--END: checkout_questions-->
                                <tr>
                                    <td colspan="2">
                                        <!--START: checkout_questions_templates-->
                                        <!--START: textarea-format-->
                                        <table>
                                            <tr>
                                                <td align="right" class="item">
                                                    <!--START: req[id]-->
                                                    <img src="assets/templates/common/images/error2.gif" width="12" height="12"><!--END: req[id]--><b>[question]</b></td>
                                                <td>
                                                    <textarea cols="30" rows="5" name="cq[id]" class="txtBoxStyle">[answer]</textarea></td>
                                            </tr>
                                        </table>
                                        <!--END: textarea-format-->
                                        <!--START: text-format-->
                                        <table>
                                            <tr>
                                                <td align="right" class="item">
                                                    <!--START: req[id]-->
                                                    <img src="assets/templates/common/images/error2.gif" width="12" height="12"><!--END: req[id]--><b>[question]</b></td>
                                                <td>
                                                    <input type="text" size="30" name="cq[id]" value="[answer]" class="txtBoxStyle"></td>
                                            </tr>
                                        </table>
                                        <!--END: text-format-->
                                        <!--START: file-format-->
                                        [question]<br>
                                        <input type="file" name="file[oname]" size="20"><br>
                                        <!--END: file-format-->
                                        <!--START: checkbox-format-->
                                        <table>
                                            <tr>
                                                <td>
                                                    <!--START: req[id]-->
                                                    <img src="assets/templates/common/images/error2.gif" width="12" height="12"><!--END: req[id]--><input
                                                        type="checkbox" name="cq[id]" class="txtBoxStyle" value="[answer]" [selected]></td>
                                                <td align="right" class="item">
                                                    <b>[question]</b></td>
                                            </tr>
                                        </table>
                                        <!--END: checkbox-format-->
                                        <!--START: radio-format-->
                                        <table>
                                            <tr>
                                                <td align="right" class="item">
                                                    <!--START: req[id]-->
                                                    <img src="assets/templates/common/images/error2.gif" width="12" height="12"><!--END: req[id]--><b>[question]</b></td>
                                                <td>
                                                    <!--START: option-->
                                                    <input type="radio" name="cq[id]" value="[option]" class="txtBoxStyle" [selected]>
                                                    [option]<br>
                                                    <!--END: option-->
                                                </td>
                                            </tr>
                                        </table>
                                        <!--END: radio-format-->
                                        <!--START: dropdown-format-->
                                        <table>
                                            <tr>
                                                <td align="right" class="item">
                                                    <!--START: req[id]-->
                                                    <img src="assets/templates/common/images/error2.gif" width="12" height="12"><!--END: req[id]--><b>[question]</b></td>
                                                <td>
                                                    <select name="cq[id]">
                                                        <!--START: option-->
                                                        <option [selected]>[option]</option>
                                                        <!--END: option-->
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                        <!--END: dropdown-format-->
                                        <!--END: checkout_questions_templates-->
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span class="error">
                                            <img src="assets/templates/common/images/error2.gif">
                                            = Required</span><br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2">
                                        <input type="submit" name="Add22" value="[checkout1_submitbutton]" class="btn" onmouseover="this.className='btn_over'"
                                            onmouseout="this.className='btn'"></td>
                                </tr>
                            </table>
                        </td>
                        <!--column left ends-->
                        <!--column right-->
                        <td valign="top" width="40%"  align="right">
                            <table width="80%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="checkout-headers">
                                        [checkout1_Header-shoppingcart]</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellpadding="0" cellspacing="0" class="alternative">
                                            <!--START: SHOPPING_CART_ITEM-->
                                            <tr>
                                                <td class="item" align="left">
                                                    <a href="product.asp?itemid=[ITEM_CATALOGID]">
                                                        <img src="thumbnail.asp?file=[THUMBNAIL]" border="0" height="40" width="40"></a><br />
                                                    [ITEM_NAME]</td>
                                                <td class="item" align="right" valign="bottom">
                                                    [ITEM_PRICE] X [ITEM_QUANTITY]<br />
                                                    <b>[ITEM_SUBTOTAL]</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <table width="100%" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td class="borders">
                                                                <img src="assets/images/spacer.gif" width="100%" height="1"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <!--END: SHOPPING_CART_ITEM-->
                                            <tr>
                                                <td colspan="2">
                                                    <table width="100%" cellpadding="0" cellspacing="0">
                                                        <!--START: DISCOUNTS-->
                                                        <tr>
                                                            <td align="right" class="item">
                                                                <strong>[shoppingcart_subtotal]:</strong></td>
                                                            <td align="right" class="item">
                                                                [CARTSUBTOTAL]</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right" class="item">
                                                                <strong>[checkout1_discounts]:</strong></td>
                                                            <td align="right" class="item">
                                                                [DISCOUNTS]</td>
                                                        </tr>
                                                        <!--END: DISCOUNTS-->
                                                        <!--START: BUYSAFE-->
                                                        <tr>
                                                            <td align="right" class="item">
                                                               <img src="assets/templates/common/images/buysafe.gif"></td>
                                                            <td align="right" class="item">
                                                                [buysafe_totalbondcost]</td>
                                                        </tr>
                                                        <!--END: BUYSAFE-->                                                                
                                                        <tr>
                                                            <td align="right" class="price">
                                                                <strong>[shoppingcart_total]:</strong></td>
                                                            <td align="right" class="price">
                                                                [CARTTOTAL]</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <!--START: GIFTCERTS-->
                                            <tr>
                                                <td colspan="2" class="titles2" align="right">
                                                    <span class="item"><strong>[shoppingcart_giftcertificate]</strong></span><br />
                                                    [GIFTCERTS]</td>
                                            </tr>
                                            <!--END: GIFTCERTS-->
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <a href="view_cart.asp">Update Cart</a>&nbsp;&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                        <!--column right ends-->
                    </tr>
                    <tr>
                        <td colspan="2">
                            <!--START: CATEGORY_FOOTER-->
                            <table width="100%" cellspacing="0" cellpadding="2" border="0">
                                <tr>
                                    <td class="item">
                                        [CONTENT]</td>
                                </tr>
                            </table>
                            <!--END: CATEGORY_FOOTER-->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>

<script language="JavaScript" type="text/javascript">
	//You should create the validator only after the definition of the HTML form
	var frmvalidator  = new Validator("checkoutform");

	frmvalidator.setAddnlValidationFunction("submitForm");

	frmvalidator.addValidation("shipping_firstname","req","Please enter your First Name");
	frmvalidator.addValidation("shipping_firstname","maxlen=20","Max length for First Name is 20");
	frmvalidator.addValidation("shipping_lastname","req","Please enter your Last Name");
	frmvalidator.addValidation("shipping_lastname","maxlen=20","Max length for Last Name is 20");

	frmvalidator.addValidation("shipping_company","maxlen=50","Max length for Company is 50");

	if (document.checkoutform.email != null && document.checkoutform.email != 'undefined')
	{
		frmvalidator.addValidation("email","maxlen=50","Max length for Email is 50");
		frmvalidator.addValidation("email","req","Email is required");
		frmvalidator.addValidation("email","email");
	}

	frmvalidator.addValidation("shipping_phone","maxlen=18","Max length for Phone is 18");
	frmvalidator.addValidation("shipping_phone","phone","Invalid phone number.");
	frmvalidator.addValidation("shipping_phone","req","Please enter your phone number.");

	frmvalidator.addValidation("shipping_address","maxlen=50","Max length for Address is 50");
	frmvalidator.addValidation("shipping_address","req","Please enter your address");

	frmvalidator.addValidation("shipping_address2","maxlen=40","Max length for Suite/Apt# is 40");

	frmvalidator.addValidation("shipping_city","maxlen=50","Max length for City is 50");
	frmvalidator.addValidation("shipping_city","req","Please enter your City");

	frmvalidator.addValidation("shipping_zip","maxlen=15","Max length for Zip is 15");
	frmvalidator.addValidation("shipping_zip","req","Please enter your zip code");

	frmvalidator.addValidation("shipping_state","maxlen=50","Max length for State is 50");
	frmvalidator.addValidation("shipping_state","req","Please enter/select your state");

	frmvalidator.setAddnlValidationFunction("checkreq_questions1");                          


	function selectRegAddress()
	{	
		location.href='checkout.asp?step=1&gftRegAdd=1';
		
		//Select without refresh:
		/*
		var objDrop = window.document.getElementById('save_address');
		
		if (objDrop == null)
		
		for (var intI = 0; 50; intI++) {
			if (objDrop.options[intI].innerText.trim() == 'Registry Address') {
				objDrop.options[intI].selected = true;
				filladdress(objDrop);
				return false;
			}
		}
		*/
	}
	String.prototype.trim = function() {
		return this.replace(/^\s+|\s+$/g,"");
	}
</script>

